{% extends "base.html.twig" %}
{% block body %}
    <h1>Ajout d'une adresse pour la fiche <small>{{ client.Nom }}</small></h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('client_homepage') }}">Gestion Clients</a>
        </li>
        <li>
            <a href="{{ path('client_fiche', {id : client.id}) }}">Fiche client</a>
        </li>
        <li class="active">
            Ajout adresse
        </li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                {{ form(form) }}
                <a class="btn btn-default" href="{{ path('client_fiche', {id : client.id}) }}">Annuler</a>
            </div>
        </div>
    </div>

{% endblock %}