{% extends "base.html.twig"%}
{% block body %}
    <h1>Modification fiche adresse</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('client_homepage') }}">Gestion Clients</a>
        </li>
        <li>
            <a href="{{ path('client_fiche', {id : adresse.client.id}) }}">Fiche client</a>
        </li>
        <li class="active">
            Modification adresse
        </li>
    </ol>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="well">
        {{ form(form) }}
        <a class="btn btn-default" href="{{ path('client_fiche', {id : adresse.client.id}) }}">Retour à la fiche</a>
    </div>
{% endblock %}