{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des modèles d'analyse</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li class="active">
                    Gestion des modèles d'analyse
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <a href="{{ path('molecules_modele_add') }}" class="btn btn-primary btn-sm">Ajouter un modèle d'analyse</a><br><br>
            <div class="well">
                <table class="table table-striped" id="modele_table">
                    <thead>
                    <tr>
                        <th>NOM</th>
                        <th>NB MOLECULES</th>
                        <th>DATE CREATION</th>
                        <th>DATE MODIFICATION</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for modele in modeles %}
                        <tr>
                            <td>{{ modele.libelle }}</td>
                            <td>{{ modele.molecules|length }}</td>
                            <td>{{ modele.dateCreation|date("d/m/Y H:i:s") }}</td>
                            <td>{{ modele.dateModif|date("d/m/Y H:i:s") }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('molecules_modele_fiche', {id : modele.id}) }}">Voir</a></li>
                                        <li><a href="{{ path('molecules_modele_update', {id : modele.id}) }}">Modifier</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('molecules_modele_supp', {id : modele.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script>
        $(function() {
            $("#modele_table").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                },
                columnDefs: [
                    { type: 'date-euro', targets: [1, 2] }
                ]
            });
        });
    </script>
{% endblock %}