{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        .twitter-typeahead{ float:left; width:100%}
        span.twitter-typeahead .tt-menu,
        span.twitter-typeahead .tt-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        span.twitter-typeahead .tt-suggestion {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }
        span.twitter-typeahead .tt-suggestion.tt-cursor,
        span.twitter-typeahead .tt-suggestion:hover,
        span.twitter-typeahead .tt-suggestion:focus {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
            background-color: #337ab7;
        }
        .input-group.input-group-lg span.twitter-typeahead .form-control {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        .input-group.input-group-sm span.twitter-typeahead .form-control {
            height: 30px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }
        span.twitter-typeahead {
            width: 100%;
        }
        .input-group span.twitter-typeahead {
            display: block !important;
            height: 34px;
        }
        .input-group span.twitter-typeahead .tt-menu,
        .input-group span.twitter-typeahead .tt-dropdown-menu {
            top: 32px !important;
        }
        .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
            border-radius: 0;
        }
        .input-group span.twitter-typeahead:first-child .form-control {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group span.twitter-typeahead:last-child .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .input-group.input-group-sm span.twitter-typeahead {
            height: 30px;
        }
        .input-group.input-group-sm span.twitter-typeahead .tt-menu,
        .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
            top: 30px !important;
        }
        .input-group.input-group-lg span.twitter-typeahead {
            height: 46px;
        }
        .input-group.input-group-lg span.twitter-typeahead .tt-menu,
        .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
            top: 46px !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Ajout modèle d'analyse</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
                </li>
                <li class="active">
                    Ajouter modèle
                </li>
            </ol>
            <div class="well">
                {{ form_start(form) }}
                {{ form_row(form.Libelle) }}
                <div id="multiple-datasets">
                    <div class="form-group">
                        <label for="">Selection molécules</label>
                        <input class="typeahead form-control" type="text" placeholder="Entrez le nom d'un modèle, d'une famille, d'une molécule...">
                    </div>
                </div>
                {{ form_row(form.Molecules) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="moleculesTable" style="background-color: white; border-bottom: 2px solid #aca9a9">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/typeahead/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('js/typeahead/bloodhound.min.js') }}"></script>
    <script src="{{ asset('js/typeahead/typeahead.bundle.min.js') }}"></script>
    <script>
        $( document ).ready(function() {

            var moleculesDatas  = false;
            var famillesDatas   = false;

            var moleculesObjectList  = [];
            var inputData       = false;
            var moleculeInput = [];

            var molecules = new Bloodhound({
                datumTokenizer : Bloodhound.tokenizers.obj.whitespace("nom"),
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : Routing.generate("molecules_list_molecules_json")
                }
            });

            var familles = new Bloodhound({
                datumTokenizer : Bloodhound.tokenizers.obj.whitespace("nom"),
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : Routing.generate("molecules_famille_json")
                }
            });

            $.get(Routing.generate("molecules_list_molecules_json"), function (data){
                moleculesDatas = data;

                if( $(".molecules_datas").val() != "" ){
                    var r = $(".molecules_datas").val().split("|");
                    r.forEach(function(current){
                        moleculesDatas.forEach(function(molecule){
                            if(current == molecule.id){
                                moleculeInput.push(molecule);
                            }
                        });
                    });
                }
                update(moleculeInput);
            });

            $.get(Routing.generate("molecules_famille_json"), function (data){
                famillesDatas = data;
            });


            /*function displayMolecules(){
                if(moleculesInputData.length > 0){
                    var tableDef = "<table class=\"table table-striped\"><thead><tr><th>NOM</th><th>ACTION</th></tr></thead><tbody class='tbody'></tbody></table>";

                    $("#moleculesTable").html(tableDef);
                    $(".tbody").append("")
                }
            }*/


            function search(nameKey, myArray)
            {
                if(moleculesDatas !== false && famillesDatas !== false){
                    for (var i=0; i < myArray.length; i++){
                        if(myArray[i].nom === nameKey){
                            return myArray[i];
                        }
                    }
                }
            }

            function inArray(item, objectJSON){
                var res = false;
                $.each(objectJSON, function(index, value){
                   if(item.id === value.id){
                       res = true;
                   }
                });
                return res;
            }

            function tableGenerate(data){

                if( $("#tableMolecule").length  == 0){
                    $("#moleculesTable").append("<table id='tableMolecule' class='table table-striped'><thead><tr><th>Nom</th><th>Action</th></tr></thead><tbody id='corpsTable'></tbody></table>");
                }else {
                    $("#tableMolecule").remove();
                    $("#moleculesTable").append("<table id='tableMolecule' class='table table-striped'><thead><tr><th>Nom</th><th>Action</th></tr></thead><tbody id='corpsTable'></tbody></table>");
                }
                data.forEach(function(current){
                    $("#corpsTable").append("<tr><td>" + current.nom + "</td><td><button class='btn btn-primary btn-sm removeMoleculeButton' data-id='"+ current.id +"'>Enlever</button></td></tr>");
                });
            }

            function update(moleculesObjects)
            {
                var datas = [];
                moleculesObjects.forEach(function(current){
                    if(moleculesObjectList.length > 0){
                        if(!inArray(current, moleculesObjectList)){
                            moleculesObjectList.push(current);
                        }
                    }else {
                        moleculesObjectList.push(current);
                    }
                });

                $.each(moleculesObjectList, function(key , value){
                    datas.push(value.id);
                });
                inputData = datas.join("|");
                $(".molecules_datas").val(inputData);
                tableGenerate(moleculesObjectList);
            }


            $('#multiple-datasets .typeahead').typeahead({
                    highlight: true
                },
                {
                    name : "nom",
                    displayKey: 'nom',
                    source: molecules.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Molécules</h3>'
                    }
                },{
                    name : "nom",
                    displayKey: 'nom',
                    source: familles.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Familles</h3>'
                    }
                }
            );

            $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                if(search(suggestion.nom, moleculesDatas)){
                    $.getJSON(Routing.generate("molecules_molecule_json_detail", {id : suggestion.id}) , function (data){
                        update(data);
                    });
                }
                if(search(suggestion.nom, famillesDatas)){
                    $.getJSON(Routing.generate("molecules_famille_molecule_json", {id : suggestion.id}) , function (data){
                        update(data);
                    });
                }
            });

            $(document).on("click", ".removeMoleculeButton", function(){
                var idDelete = $(this).data("id");
                /*$(this).closest("tr").remove();*/
                moleculesObjectList = moleculesObjectList.filter(function (el){
                    return el.id !== idDelete;
                });
                update(moleculesObjectList);
            });
        });
    </script>
{% endblock %}