{% extends "base.html.twig" %}
{% block body %}
    <h1>Fiche modèle d'analyse</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion modèles</a>
        </li>
        <li class="active">
            fiche modèle
        </li>
    </ol>
    <a href="#" class="btn btn-primary btn-sm">Modifier</a>
    <a href="{{ path('molecules_modele_supp', {id : modele.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
    <div class="row">
        <br>
        <div class="col-md-12">
            <div class="well">
                <label>Nom</label>
                <p>{{ modele.libelle }}</p>
                <label for="">Créé le : </label>
                <span>{{ modele.dateCreation | date("d/m/Y H:i:s")}}</span>
                {% if modele.dateModif %}
                    <br><label>Modifié le :</label>
                    <span>{{ modele.dateModif | date("d/m/Y H:i:s") }}</span><br>
                {% endif %}
                <h3>Liste des molécules</h3>
                <div class="row">
                    <div class="col-md-4">
                        <table>
                            {% for molecule in molecules %}
                                <tr>
                                    <td><a href="{{ path('molecules_fiche', {id : molecule.id}) }}">{{ molecule.nom }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}