{% extends 'base.html.twig' %}
{% block stylesheets %}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.css"/>#}
{% endblock %}
{% block body %}
    <h1>Résultats effectués échantillon {{ echantillon }}</h1>
    <a href="{{ path('analyse_list_done') }}">Retour à la liste</a>
    <div class="row">
        <div class="col-md-12">
            <h3>Liste des molécules analysées</h3>
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        {% if is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMIN") %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="allSelect"> Tous sélectionner
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <form name="test" method="post">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    {% for familleDatas in moleculesEchantillon %}
                        <div class="row">
                            <div class="col-md-6"><h2 id="{{ familleDatas.famille }}">Famille {{ familleDatas.famille }}</h2></div>
                            <div class="col-md-6 text-right">
                                <label>Familles :</label> <br>
                                {% for familleData in moleculesEchantillon %}
                                    <a href="#{{ familleData.famille }}" class="btn btn-primary btn-xs">{{ familleData.famille }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>NOM</th>
                                    <th>RESULTAT</th>
                                    <th>UNITE</th>
                                    <th>Taux de récup (%)</th>
                                    <th>Remarque</th>
                                    <th>DATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in familleDatas.echantillons %}
                                <tr>
                                    <td>{{ (row|first).molecules.nom }}</td>
                                    <td>
                                        {% if is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMIN") %}
                                            <input type="text" name="molecule[{{ (row|first).id }}][resultat]" class="form-control" value="{{ (row|first).resulat }}">
                                        {% else %}
                                            {{ row.resulat }}
                                        {% endif %}
                                    </td>
                                    <td>{{ row.unite }}</td>
                                    <td>
                                        {% if is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMIN") %}
                                            <input type="text" name="molecule[{{ (row|first).id }}][tauxRecup]" class="form-control" value="{{ (row|first).tauxRecup }}">
                                        {% else %}
                                            {{ row.tauxRecup }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMIN") %}
                                            <textarea name="molecule[{{ (row|first).id }}][commentaire]" class="form-control">{{ (row|first).commentaire }}</textarea>
                                        {% else %}
                                            {{ (row|first).commentaire }}
                                        {% endif %}
                                    </td>
                                    <td>{{ (row|first).dateAnalyse | date("d/m/Y") }}</td>
                                    <td>
                                        {% if is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMIN") %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="checkBoxMole" name="molecule[{{ (row|first).id }}][raz]"> Remettre dans les tuyaux
                                                </label>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function() {

            $(".allSelect").click(function(){
                if($(this).is(":checked")){
                    $(".checkBoxMole").each(function (t, current) {
                        current.checked = true;
                    })
                }else {
                    $(".checkBoxMole").each(function(t, current){
                        current.checked = false;
                    })
                }
            });
        });
    </script>
{% endblock %}

