{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.css"/>
{% endblock %}
{% block body %}
    {#<a href="#" class="btn btn-primary btn-sm">Ajouter un résultat</a>#}
    {#<a href="#" class="btn btn-warning btn-sm">Modifier un résultat</a>
    <a href="{{ path('analyse_list_done') }}" class="btn btn-success btn-sm">Résultats effectués</a>
    <a href="{{ path('analyse_search_query') }}" class="btn btn-info btn-sm">Rechercher de résultats</a>#}
    <div class="row">
        <h1>Résultats</h1>
        <div class="col-md-12 well">
            <h3>Liste des échantillons en cours d'analyse</h3>
            <table class="table table-striped" id="echantillon_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>REF</th>
                    <th>NOM</th>
                    <th>Analyse(s) restante(s)</th>
                    <th>DATE ARRIVEE</th>
                    <th>DATE BUTOIR</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                {% for echantillon in echantillons %}
                    <tr>
                        <td style="opacity: .3;">{{ echantillon.id }}</td>
                        <td>{{ echantillon.referenceLacapa }} {{ echantillon.urgent ? '<span class="label label-info">Urgent</span>' : '' }}</td>
                        <td>{{ echantillon.nom }}</td>
                        <td>{{ echantillon.nbNotAnalyse }}</td>
                        <td>{{ echantillon.dateArriv | date("d/m/Y H:i:s") }}</td>
                        <td>{{ echantillon.dateBut | date("d/m/Y H:i:s") }}</td>
                        <td>
                            {% if is_granted("ROLE_RES_TECH")  %}
                                <a href="{{ path('analyse_add', {id : echantillon.id}) }}" class="btn btn-primary btn-sm">Générer le résultat</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script>
        $(function() {
            $("#echantillon_table").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                },
                order : [0, 'desc'],
                columnDefs: [
                    { type: 'date-euro', targets: [3, 4] }
                ]
            });
        });
    </script>
{% endblock %}

