{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Résultat d'analyse échantillon {{ echantillon.referenceLacapa }} famille {{ nom }}</h1>
            <a href="{{ path('analyse_add', {id : echantillon.id}) }}">Retour</a>
            <div class="well">
                <form method="post">
                    <button type="submit" class="btn btn-primary">Valider les résultats</button>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="absence"> Tous mettre en absence.
                        </label>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>MOLECULE</th>
                            <th>RESULTAT</th>
                            <th>COMMENTAIRE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for moleculeEchantillon in moleculesEchantillon %}
                            <tr>
                                <td>{{ moleculeEchantillon.molecules.nom }}</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Résultat de l'analyse" name="analyse[{{ moleculeEchantillon.id }}][resultat]">
                                </td>
                                <td>
                                    <textarea class="form-control" rows="3" placeholder="Commentaire sur l'analyse" name="analyse[{{ moleculeEchantillon.id }}][commentaire]"></textarea>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Valider les résultats</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function() {
            $("tr td input").focusout(function(){
                var row = $(this).parent("td").parent("tr");
                if($(this).val() === ""){
                    row.removeClass("success");
                }else {
                    row.addClass("success");
                }
            });
        });
    </script>
{% endblock %}

