{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.css"/>
{% endblock %}
{% block body %}
    <h1>Résultats effectués</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li class="active">
            Résultats effectuées
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h3>Liste des échantillons analysés</h3>
            <div class="well">
                <table class="table table-striped" id="echantillon_table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>REF</th>
                        <th>NOM</th>
                        <th>Analyse(s) restante(s)</th>
                        <th>Analyse effectuée(s)</th>
                        <th>NB ANALYSE</th>
                        <th>DATE ARRIVEE</th>
                        <th>DATE BUTOIR</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for echantillon in echantillons %}
                        <tr>
                            <td style="opacity: .3;">{{ echantillon.id }}</td>
                            <td>{{ echantillon.referenceLacapa }} {{ echantillon.urgent ? '<span class="label label-info">Urgent</span>' : ''}}</td>
                            <td>{{ echantillon.nom }}</td>
                            <td>{#{{ echantillon.nbNotAnalyse }}#}</td>
                            <td>{#{{ echantillon.nbAnalyse }}#}</td>
                            <td>{#{{ echantillon.nb }}#}</td>
                            <td>{{ echantillon.dateArriv | date("d/m/Y H:i:s") }}</td>
                            <td>{{ echantillon.dateBut | date("d/m/Y H:i:s") }}</td>
                            <td>
                                <a href="{{ path('analyse_get_result', {ref : echantillon.referenceLacapa}) }}" class="btn btn-primary btn-sm">Voir les résultats</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script>
        $(function() {
            $("#echantillon_table").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                },
                order : [0, "desc"],
                columnDefs: [
                    { type: 'date-euro', targets: [3, 4] }
                ]
            });
        });
    </script>
{% endblock %}

