{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Résultat d'analyse pour l'échantillon {{ echantillon.referenceLacapa }}</h1>
            <a href="{{ path('analyse_homepage') }}">Retour à la liste</a><br>
            <label>Nom de l'échantillon: </label> {{ echantillon.nom }}
            <div class="well">
                <form method="post">
                    <button type="submit" class="btn btn-primary">Appliquer</button>
                    {% for familleDatas in moleculesEchantillon %}
                        {% set familleIndex = loop.index %}
                        <div class="row">
                            <div class="col-md-3"><h2 id="{{ familleDatas.famille }}">Famille {{ familleDatas.famille }}</h2></div>
                            <div class="col-md-3" style="padding-top: 17px;">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="absFamilly" data-id="{{ loop.index }}"  name="famille[{{ familleDatas.famille }}]" value="abs"> marquez la famille {{ familleDatas.famille }} en absence
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <label>Familles :</label> <br>
                                {% for familleData in moleculesEchantillon %}
                                    <a href="#{{ familleData.famille }}" class="btn btn-primary btn-xs">{{ familleData.famille }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped tableFamilly{{ loop.index }}">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>NOM</th>
                                        <th>RESULTAT</th>
                                        <th>COMMENTAIRE</th>
                                        <th>TAUX</th>
                                        <th>ABS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    {% for row in familleDatas.echantillons %}
                                        {% set moleculeIndex = loop.index %}
                                        <tr>
                                            <td><button data-id="{{ familleIndex ~ moleculeIndex }}" type="button" class="btn btn-primary btn-sm edit-mode" data-toggle="tooltip" data-placement="top" title="Mode édition"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                                            <td>{{ (row|first).molecules.nom }}</td>
                                            <td>
                                                <div class="form-group">
                                                    <input data-id="{{ familleIndex ~ moleculeIndex }}" type="text" class="form-control inputRes" id="" placeholder="Résultat" name="molecule[{{ (row|first).id }}][Resultat]" value="{{ (row|first).resulat }}" disabled>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <textarea data-id="{{ familleIndex ~ moleculeIndex }}" class="form-control" rows="3" placeholder="Un commentaire sur le résultat" name="molecule[{{ (row|first).id }}][commentaire]" disabled>{{ (row|first).commentaire }}</textarea>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input data-id="{{ familleIndex ~ moleculeIndex }}" type="text" class="form-control" id="" placeholder="Taux de récupération" name="molecule[{{ (row|first).id }}][tauxRecup]" value="{{ (row|first).tauxRecup }}" disabled>
                                                </div>
                                            </td>
                                            <td>{{ row.unite }}</td>
                                            <td>
                                                <div class="checkbox">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkBox checkbox{{ loop.index }}" id="inlineCheckbox1" value="oui" name="molecule[{{ (row|first).id }}][abs]"> Marquer en absence
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                    {#<table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ANALYSE</th>
                            <th>FAMILLE</th>
                            <th>RESULTAT</th>
                            <th>AUTRE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in collection %}
                            {% if row.analyse == "Toutes" %}
                                <tr>
                                    <td>{{ row.analyse }}</td>
                                    <td>{{ row.famille }}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkBox" id="blankCheckbox" name="analyse[famille][{{ row.famille }}][allABS]" value="1" aria-label="..."> Marquer la famille en absence
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ path('analyse_famille', {id : echantillon.id, nom : row.famille}) }}" class="btn btn-primary btn-sm">Entrer les résultats pour la famille</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ row.analyse }}</td>
                                    <td>{{ row.famille }}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkBox" id="blankCheckbox" name="analyse[molecule][{{ row.id }}][abs]" value="1"> Absence
                                            </label>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Résultat de l'analyse" name="analyse[molecule][{{ row.id }}][result]">
                                    </td>
                                    <td>
                                        <textarea class="form-control" rows="3" placeholder="Un commentaire sur le résultat" name="analyse[molecule][{{ row.id }}][commentaire]"></textarea>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>#}
                    <button type="submit" class="btn btn-primary">Appliquer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $(".edit-mode").click(function() {
                var id = $(this).data('id');
                var fa = $(this).children('.fa');
                var isDisabled =!$("input[data-id="+ id + "], textarea[data-id="+ id + "]").is(':disabled');
                fa.removeClass('fa-pencil');
                if (isDisabled === false) {
                    fa.addClass('fa-times');
                    $(this).attr('data-original-title', 'annuler mode édition');
                }else {
                    fa.addClass('fa-pencil');
                    $(this).attr('data-original-title', 'Mode édition');
                }
                $("input[data-id="+ id + "], textarea[data-id="+ id + "]").prop('disabled', isDisabled);
            });

            $(".absFamilly").click(function(){
                var id = $(this).data("id");
                if ($(this).is(":checked")){
                    var count = 1;
                    $(".tableFamilly"+id+" tbody tr .inputRes").each(function(index, current){
                        if  ( $(current).val() === ""){
                            console.log($(".tableFamilly"+id+" .checkbox"+count));
                            $(".tableFamilly"+id+" .checkbox"+count).prop("checked", true);
                        }
                        count ++;
                    });
                    setTimeout(function (event) {
                        $(".tableFamilly"+id).fadeOut();
                    }, 1000);
                }else {
                    $(".tableFamilly"+id).fadeIn();
                    $(".tableFamilly"+id+" .checkBox").prop("checked", false);
                }
            });

            /*$("#allABS").click(function(){
                if($(this).is(":checked")){
                    $(".checkBox").each(function(current){
                      $(this).prop("checked", true);
                    })
                }else {
                    $(".checkBox").each(function(current){
                        $(this).prop("checked", false);
                    })
                }
            });*/

            $(".checkBox").click(function(){
               var row = $(this).parent("label").parent("div").parent("td").parent("tr");
               if ($(this).is(":checked")){
                   row.addClass("success");
               }else {
                   row.removeClass("success");
               }
            });

            $("tr td input[type=text]").focusout(function(){
                var row = $(this).parent("div").parent("td").parent("tr");
                if($(this).val() === ""){
                    row.removeClass("success");
                }else {
                    row.addClass("success");
                }
            });
        });
    </script>
{% endblock %}

