{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .twitter-typeahead{ float:left; width:100%}
        span.twitter-typeahead .tt-menu,
        span.twitter-typeahead .tt-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        span.twitter-typeahead .tt-suggestion {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }
        span.twitter-typeahead .tt-suggestion.tt-cursor,
        span.twitter-typeahead .tt-suggestion:hover,
        span.twitter-typeahead .tt-suggestion:focus {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
            background-color: #337ab7;
        }
        .input-group.input-group-lg span.twitter-typeahead .form-control {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        .input-group.input-group-sm span.twitter-typeahead .form-control {
            height: 30px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }
        span.twitter-typeahead {
            width: 100%;
        }
        .input-group span.twitter-typeahead {
            display: block !important;
            height: 34px;
        }
        .input-group span.twitter-typeahead .tt-menu,
        .input-group span.twitter-typeahead .tt-dropdown-menu {
            top: 32px !important;
        }
        .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
            border-radius: 0;
        }
        .input-group span.twitter-typeahead:first-child .form-control {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group span.twitter-typeahead:last-child .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .input-group.input-group-sm span.twitter-typeahead {
            height: 30px;
        }
        .input-group.input-group-sm span.twitter-typeahead .tt-menu,
        .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
            top: 30px !important;
        }
        .input-group.input-group-lg span.twitter-typeahead {
            height: 46px;
        }
        .input-group.input-group-lg span.twitter-typeahead .tt-menu,
        .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
            top: 46px !important;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Recherche de résultats</h1>
    <div class="well">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.echantillon) }}
                {{ form_row(form.NomEchantillon) }}
                {{ form_row(form.Famille) }}
                {{ form_row(form.DateArriv) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.NomClient) }}
                {{ form_row(form.ReferenceClient) }}
                {{ form_row(form.Analyse) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.Presence) }}
            </div>
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong>Attention</strong><br>
                    Pour des raisons de performance, la recherche avec une famille doit être la plus précise possible, utiliser le maximum de champs pour votre recherche.
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row">
            {% if echantillons is not empty %}
                <div class="col-md-12 text-right">
                    {% transchoice echantillons | length %}
                        <p>{0} La recherche a donnée aucun résultat |{1} La recherche a donnée <strong>1</strong> résultat |]1,Inf[ La recherche a donnée : <strong>%count%</strong> résultats</p>
                    {% endtranschoice %}
                </div>
            {% endif %}
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>REF. LACAPA</th>
                        <th>CLIENT</th>
                        <th>NOM</th>
                        <th>REF CLIENT</th>
                        <th>DATE ARRIVE</th>
                        <th>DATE BUTOIR</th>
                        <th>DATE ANALYSE</th>
                        {#<th>Commentaire</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% if echantillons is not empty %}
                        {% for echantillon in echantillons %}
                            <tr class="{% if (echantillon | first).supp == 1 %}danger{% endif %} ">
                                <td><a href="{{ path('echantillon_fiche', {id : (echantillon | first).id}) }}">{{ (echantillon | first).referenceLacapa }}</a></td>
                                <td><a href="{{ path('client_fiche', {id : (echantillon | first).client.id}) }}">{{ (echantillon | first).client.abrege }}</a></td>
                                <td>{{ (echantillon | first).nom }} {% if (echantillon | first).urgent %} <span class="label label-info ">Urgent</span> {% endif %}</td>
                                <td>{{ (echantillon | first).referenceClient }}</td>
                                <td>{{ (echantillon | first).dateArriv | date("d/m/Y")}}</td>
                                <td>{{ (echantillon | first).dateBut | date("d/m/Y")}}</td>
                                <td>
                                    {% if (echantillon | last) is not empty %}
                                        {{ ((echantillon | last) | first).dateCreation | date("d/m/Y") }}
                                    {% else %}
                                        pas encore analysé
                                    {% endif %}
                                </td>
                                {#<td>
                                    {% if (echantillon | first).commentaire != "" %}
                                            {{ (echantillon | first).commentaire }}
                                        {% else %}
                                            Pas de commentaire
                                    {% endif %}
                                </td>#}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">Aucun résultat</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/typeahead/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('js/typeahead/bloodhound.min.js') }}"></script>
    <script src="{{ asset('js/typeahead/typeahead.bundle.min.js') }}"></script>
    <script>

        var molecules = new Bloodhound({
            datumTokenizer : Bloodhound.tokenizers.obj.whitespace("nom"),
            queryTokenizer : Bloodhound.tokenizers.whitespace,
            prefetch : {
                url : Routing.generate("molecules_list_molecules_json"),
                cache : false
            }
        });

        $('#search_echantillon_Analyse').typeahead({
                highlight: true
            },
            {
                name : "moleculeName",
                displayKey: 'nom',
                source: molecules.ttAdapter(),
            }
        );

    </script>
{% endblock %}

