{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Modification du mot de passe</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('utilisateurs_list') }}">Liste utilisateurs</a>
                </li>
                <li class="active">
                    Changer mot de passe
                </li>
            </ol>
            <div class="row">
                <div class="col-md-6">
                    <div class="well" style="padding-bottom: 50px;">
                        {{ form(form) }}
                        <a class="btn btn-default pull-left" href="{{ path("utilisateurs_profil", {id : user.id}) }}">Retour à la fiche</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}