{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Ajouter un utilisateur</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('utilisateurs_list') }}">Liste utilisateurs</a>
                </li>
                <li class="active">
                    Ajouter utilisateur
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="well" style="padding-bottom: 50px;">
                {{ form_start(form, {'method': 'post', 'action': path('utilisateurs_add'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.password) }}
                {{ form_row(form.poste) }}
                {{ form_row(form.roles) }}
                <a class="btn btn-default pull-left" href="{{ path("utilisateurs_list") }}" role="button">Annuler</a>
                <input type="submit" class="btn btn-primary pull-right" value="Envoyer" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

