{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Fiche utilisateur</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('utilisateurs_list') }}">Liste utilisateurs</a>
                </li>
                <li class="active">
                    Fiche utilisateur
                </li>
            </ol>
            <a class="btn btn-info btn-sm" href="{{ path('utilisateurs_modifForm', {id : user.id}) }}">Modifier l'utilisateur</a>
            <a class="btn btn-warning btn-sm" href="{{ path('utilisateurs_changePassword', {id : user.id}) }}">Changer le mot de passe</a>
            {% if user.enabled %}
                <a class="btn btn-danger btn-sm disableUserButton" href="#" onclick="confirmSupp()">Désactiver l'utilisateur</a>
                {% else  %}
                    <a class="btn btn-success btn-sm activeUserButton" href="{{ path('utilisateurs_disable', {id : user.id}) }}"">Activer l'utilisateur</a>
            {% endif %}
            <br><br>
        </div>
        <div class="col-md-12">
            <div class="well">
                <label for="">Nom</label>
                <p>{{ user.nom }}</p>
                <label for="">Prénom</label>
                <p>{{ user.prenom }}</p>
                <label for="">Adresse Email</label>
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                <label for="">Création de la fiche</label>
                <p>{{ user.dateCreation|date("d-m-Y à H:i:s") }}</p>
                <label for="">Dernière connection</label>
                {% if user.lastLogin %}
                    <p>{{ user.lastLogin|date("d-m-Y à H:i:s") }}</p>
                {% else %}
                    <p>Pas encore connecté.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Logs</h1>
            <div class="well">
                <table class="table table-striped" id="userListeTable">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Date effectif</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.description }}</td>
                            <td>{{ log.dateCreation|date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script>
        $(document).ready(function () {

            $("#userListeTable").DataTable({
                "columnDefs": [
                    { type: 'date-euro', targets: [1] }
                ],
                "order": [[ 1, "desc" ]],
                colReorder: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });

            $(".disableUserButton").click(function () {
                var suppUser = confirm("Confirmer la désactivation du compte ?");
                if(suppUser){
                    return true;
                }else {
                    return false;
                }
            });

            $(".activeUserButton").click(function () {
                var suppUser = confirm("Confirmer l'activation du compte ?");
                if(suppUser){
                    return true;
                }else {
                    return false;
                }
            });
        })
    </script>
{% endblock %}