{% extends "::base.html.twig" %}
{% block title %}- Accueil{% endblock %}
{% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1>Tableau de bord </h1>
                <p><strong>Votre dernière connexion :</strong> {{ user.lastLogin|date("d/m/Y à H:i:s") }}</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h2>Échantillon à analyser</h2>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>REF</th>
                                        <th>ECHANTILLON</th>
                                        <th>CLIENT</th>
                                        <th>DATE ARRIV.</th>
                                        <th>ANALYSE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for analyse in listAnalyse %}
                                        <tr>
                                            <td>{{ analyse.echantillon.ReferenceLacapa }} {{ analyse.echantillon.Urgent ? '<span class="label label-info">Urgent</span>' : '' }}</td>
                                            <td>{{ analyse.echantillon.Nom }}</td>
                                            <td>{{ analyse.echantillon.Client }}</td>
                                            <td>{{ analyse.echantillon.DateArriv | date("d/m/Y H:i") }}</td>
                                            <td>
                                                {% for row in analyse.analyse %}
                                                    {% if row is iterable %}
                                                        {% for item in row %}
                                                            {{ item }} <br>
                                                        {% endfor %}
                                                        {% else %}
                                                        {{ row }} <br>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if currentPage != 1 %}
                                            <li class="">
                                                <a href="{{ path('homepage') }}?page={{ currentPage - 1 }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for page in 1..nbPage %}
                                            <li class="{% if currentPage == page %} active {% endif %}"><a href="{{ path('homepage') }}?page={{ page }}">{{ page }}</a></li>
                                        {% endfor %}
                                        {% if currentPage != nbPage %}
                                            <li class="">
                                                <a href="{{ path('homepage') }}?page={{ currentPage + 1 }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
