{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Gestion des utilisateurs</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li class="active">
                    Liste utilisateurs
                </li>
            </ol>
            <a class="btn btn-primary btn-sm" href="{{ path("fos_user_registration_register") }}" role="button">Ajouter un utilisateur</a>
            <br><br>
            <div class="well">
                <table class="table table-striped" id="userListeTable">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Role</th>
                        <th>Créé</th>
                        <th>Dernière connection</th>
                        <th>Modifié</th>
                        <th>État</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in utilisateurs %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>
                                {% if user.roles | first == "ROLE_ADMIN" %}
                                    Direction
                                {% endif %}

                                {% if user.roles | first == "ROLE_ADMINISTRATIF" %}
                                    Administratif
                                {% endif %}

                                {% if user.roles | first == "ROLE_RES_TECH" %}
                                    Responsable technique
                                {% endif %}

                                {% if user.roles | first == "ROLE_TECH" %}
                                    Technicien
                                {% endif %}

                                {% if user.roles | first == "ROLE_USER" %}
                                    Stagiaire
                                {% endif %}
                            </td>
                            <td>{{ user.dateCreation|date("d/m/Y H:i:s") }}</td>
                            <td>{{ user.lastLogin|date("d/m/Y H:i:s") }}</td>
                            <td>{{ user.dateModif|date("d/m/Y H:i:s") }}</td>
                            <td>
                                {% if user.enabled %}
                                    Actif
                                {% else %}
                                    Désactivé
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('utilisateurs_profil', {id : user.id}) }}">Voir</a></li>
                                        <li><a href="{{ path('utilisateurs_modifForm', {id : user.id}) }}">Modifier</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            {% if user.enabled %}
                                                <a class="text-danger suppLink" href="{{ path('utilisateurs_disable', {id : user.id}) }}">Désactiver le compte</a>
                                            {% else %}
                                                <a class="text-danger activeLink" href="{{ path('utilisateurs_disable', {id : user.id}) }}">Activer le compte</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script>
        $( document ).ready(function() {

            $("#userListeTable").DataTable({
                "columnDefs": [
                    { type: 'date-euro', targets: [4,5] }
                ],
                colReorder: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });

            $(".suppLink").click(function () {
                var suppResponse = confirm("Confirmez la désactivation du compte ?");
                if(suppResponse){
                    return true;
                }
                else {
                    return false;
                }
            })
            $(".activeLink").click(function () {
                var suppResponse = confirm("Confirmez l'activation du compte ?");
                if(suppResponse){
                    return true;
                }
                else {
                    return false;
                }
            })
        });
    </script>
{% endblock %}