{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Modification de la fiche</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('utilisateurs_list') }}">Liste utilisateurs</a>
                </li>
                <li class="active">
                    Modification utilisateur
                </li>
            </ol>
            <div class="well" style="padding-bottom: 50px;">
                {{ form(form) }}
                <a type="button" class="btn btn-default pull-left" href="{{ path("utilisateurs_profil", {id : user.id}) }}">Retour à la fiche</a>
            </div>
        </div>
    </div>
{% endblock %}