<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lacapa Application Interne {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.request.attributes.get("_route") != "fos_user_security_login" %}
        <div class="container-fluid">
            <div class="row">
                <div style="position: fixed; height: 100%; z-index: 9999;">
                    <div class="profilSidebar text-center">
                        <img src="{{ asset('img/logo-LACAPA.png') }}" alt="lacapa" width="100"><br>
                        <p>v 0.46.0</p>
                        {{ 'now' | date('Y') }} <br>
                        <a href="/lacapa/2018/" target="_blank">Application 2018</a>
                        <a href="/lacapa/2019/" target="_blank">Application 2019</a>
                        <div class="profil-details">
                            <p>Bonjour, </p>
                            <p><strong>{{ app.user.nom }}</strong></p>
                            <p><strong>{{ app.user.prenom }}</strong></p>
                            {{ app.user.poste }}
                        </div>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn-logout">
                            <i class="fa fa-power-off fa-2x" aria-hidden="true"></i> <br>Déconnexion
                        </a>
                    </div>
                    <nav class="navbar navbar-inverse sidebar" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="text-center {% if  app.request.attributes.get("_route") == "utilisateurs_homepage"%} active {% endif %}"><a href="{{ path('utilisateurs_homepage') }}"><i class="fa fa-home fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Tableau de bord</a></li>
                                    {% if is_granted("ROLE_ADMINISTRATIF") or is_granted("ROLE_RES_TECH")%}
                                        <li class="dropdown {% if app.request.attributes.get("_route")  starts with "analyse" and app.request.attributes.get('_route') != 'analyse_search_query' %}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-flask fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Analyses {#<span class="caret"></span>#}</a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li {% if  app.request.attributes.get("_route") == "analyse_homepage" or app.request.attributes.get("_route") == "analyse_add" or app.request.attributes.get("_route") == "analyse_famille"%} class="active" {% endif %}><a href="{{ path('analyse_homepage') }}">Analyses en cours</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "analyse_list_done" or app.request.attributes.get("_route") == "analyse_get_result"%} class="active" {% endif %}><a href="{{ path('analyse_list_done') }}">Analyses effectuées</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMINISTRATIF") or is_granted("ROLE_RES_TECH") or is_granted("ROLE_TECH")%}
                                        <li class="dropdown {% if app.request.attributes.get("_route")  starts with "echantillon" or app.request.attributes.get('_route') == 'analyse_search_query' %}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-tag fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Échantillons</a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li {% if  app.request.attributes.get("_route") == "echantillon_homepage"%} class="active" {% endif %}><a href="{{ path('echantillon_homepage') }}">Liste échantillons</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "echantillon_add"%} class="active" {% endif %}><a href="{{ path('echantillon_add') }}">Ajouter un échantillon</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "echantillon_print_list"%} class="active" {% endif %}><a href="{{ path('echantillon_print_list') }}">Etiquette</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "analyse_search_query"%} class="active" {% endif %}><a href="{{ path('analyse_search_query') }}">Recherche</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RES_TECH") or is_granted("ROLE_TECH") or is_granted("ROLE_USER")%}
                                        <li class="dropdown {% if app.request.attributes.get("_route")  starts with "paillasse"%}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-file-text fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Paillasses {#<span class="caret"></span>#}</a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li {% if  app.request.attributes.get("_route") == "paillasse_homepage"%} class="active" {% endif %}><a href="{{ path('paillasse_homepage') }}">Liste paillasses</a></li>
                                                {% if ('ROLE_ADMINISTRATIF' in app.user.roles) == false %}
                                                    <li {% if  app.request.attributes.get("_route") == "paillasse_add"%} class="active" {% endif %}><a href="{{ path('paillasse_add') }}">Créer une paillasse</a></li>
                                                    <li {% if  app.request.attributes.get("_route") == "paillasse_reset"%} class="active" {% endif %}><a href="{{ path('paillasse_reset') }}">Reset Paillasse</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMINISTRATIF") or is_granted("ROLE_RES_TECH")%}
                                        <li class="dropdown {% if app.request.attributes.get("_route")  starts with "client"%}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-users fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Clients {#<span class="caret"></span>#}</a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li {% if  app.request.attributes.get("_route") == "client_homepage"%} class="active" {% endif %}><a href="{{ path('client_homepage') }}">Liste clients</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "client_ajoutForm"%} class="active" {% endif %}><a href="{{ path('client_ajoutForm') }}">Ajouter un client</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMINISTRATIF") %}
                                        <li class="dropdown {% if app.request.attributes.get("_route")  starts with "molecule"%}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-cubes fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Molécules {#<span class="caret">#}</span></a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RES_TECH") %}
                                                    <li {% if  app.request.attributes.get("_route") == "molecules_homepage"%} class="active" {% endif %}><a href="{{ path('molecules_homepage') }}">Liste molécules</a></li>
                                                {% endif %}
                                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RES_TECH") or is_granted("ROLE_ADMINISTRATIF") %}
                                                    <li {% if  app.request.attributes.get("_route") == "molecules_modele_list"%} class="active" {% endif %}><a href="{{ path('molecules_modele_list') }}">Liste modèles</a></li>
                                                {% endif %}
                                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RES_TECH") %}
                                                    <li {% if  app.request.attributes.get("_route") == "molecule_outil_verif"%} class="active" {% endif %}><a href="{{ path('molecule_outil_verif') }}">Molécule vérif.</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="dropdown {% if app.request.attributes.get("_route") != "utilisateurs_homepage" and app.request.attributes.get("_route")  starts with "utilisateurs" or app.request.attributes.get("_route")  starts with "fos"%}active open {% endif %}">
                                            <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown"><i class="fa fa-user-circle-o fa-3x" aria-hidden="true" style="margin-bottom: 4px;"></i><br>Utilisateurs {#<span class="caret"></span>#}</a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li {% if  app.request.attributes.get("_route") == "utilisateurs_list"%} class="active" {% endif %}><a href="{{ path('utilisateurs_list') }}">Liste utilisateurs</a></li>
                                                <li {% if  app.request.attributes.get("_route") == "utilisateurs_add"%} class="active" {% endif %}><a href="{{ path('utilisateurs_add') }}">Ajouter un utilisateur</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                {% endif %}
                <div class="col-md-{% if app.request.attributes.get("_route") == "fos_user_security_login" %}12{% else %}11{% endif %} body">
                    <div class="row">
                        <div id="page-wrapper">
                            <div class="container">
                                {% for label, flashes in app.session.flashbag.all %}
                                    {% for flash in flashes %}
                                        <div class="alert alert-{{ label }}">
                                            {{ flash | raw}}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/bootstrap-session-timeout.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% if app.request.attributes.get("_route") != "fos_user_security_login" %}
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>