{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-4 text-center col-md-offset-4">
            <div class="well">
                <h2>Confirmation création d'un compte</h2>
                <p>L'utilisateur a bien été ajouté.</p>
                <a href="{{ path('utilisateurs_list') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
    {#<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}#}
{% endblock fos_user_content %}
