<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .item{
            margin-top: 0;

        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="hidden-print">
            <a href="{{ url('echantillon_print_list') }}">Retour à la liste</a>
            <br><br>
            <a href="#" class="btn btn-primary printButton hidden-print">Imprimer</a>
            <hr>
        </div>
        <div class="row">
            {% for echantillon in listEchantillons %}
                <div class="col-xs-6 item">
                    <p class="text-center" style="font-size: 1.4em;"><strong>{{ echantillon.echantillon.referenceLacapa }}</strong></p>
                    <p>{{ echantillon.echantillon.client.nom }}</p>
                    <p>{{ echantillon.familles | join(',') }}</p>
                    <p>Recu le :    {{ echantillon.echantillon.dateArriv | date("d/m/Y H:i") }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".printButton").click(function(){
            window.print();
        });
    })
</script>
</html>