{% extends 'base.html.twig' %}

{% block body %}
    <h1>Outil Etiquette</h1>
    <div class="well">
        <h2>Échantillon à imprimer</h2>
        <div class="row">
            {% if app.request.attributes.get("_route") == 'echantillon_print_list' %}
                <div class="col-md-12">
                    <a href="{{ path('echntillon_print_cancel_list') }}" class="btn btn-primary btn-sm">Réinitialiser etiquettes</a>
                </div>
                {% else %}
                    <div class="col-md-12">
                        <a href="{{ path('echantillon_print_list') }}" class="btn btn-primary btn-sm">Imprimer des étiquettes</a>
                    </div>
            {% endif %}
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="CheckThemAll"> Tout sélectionner
                    </label>
                </div>
            </div>
        </div>
        <form action="{% if app.request.attributes.get("_route") == "echntillon_print_cancel_list" %} {{ path('echntillon_print_cancel_list') }}  {% else %} {{ url('echantillon_print_echantillons') }}{% endif %}" method="post" {% if app.request.attributes.get("_route") == "echantillon_print_list" %} target="_blank" {% endif %}>
            <button type="submit" class="btn btn-primary submitButton">Valider</button>
            <br><br>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>REF. LACAPA</th>
                        <th>NOM</th>
                        <th>REF CLIENT</th>
                        <th>IMPRIME</th>
                    </tr>
                </thead>
                <tbody>

                        {% for echantillon in listEchantillon %}
                            <tr>
                                <td>{{ echantillon.referenceLacapa }}</td>
                                <td>{{ echantillon.nom }}</td>
                                <td>{{ echantillon.referenceClient }}</td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkBox" name="echantillon[]" value="{{ echantillon.id }}">
                                            {% if echantillon.imprime %}
                                                    Réinitialise l'impression
                                                {% else %}
                                                    Imprimer
                                            {% endif %}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <button type="submit" id="" class="btn btn-primary submitButton">Valider</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $("#CheckThemAll").on("change", function () {
          if ($(this).is(":checked")){
              $(".checkBox").prop("checked", true);
          }else {
              $(".checkBox").prop("checked", false);
          }
        });

        var reloadFunction = function(){
            location.reload(true);
            console.log("reload trigger");
        };

        $(document).ready(function () {

            $(".submitButton").click(function () {
                setTimeout(reloadFunction, 4000);
            })
        })
    </script>
{% endblock %}


