{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.css"/>
{% endblock %}
{% block body %}
    <h1>Fiche de l'échantillon {{ echantillon.referenceLacapa }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('echantillon_homepage') }}">Liste échantillons</a>
        </li>
        <li class="active">
            Fiche échantillon
        </li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <label>Date d'arrivée :</label> {{ echantillon.dateArriv | date("d/m/Y H:i:s") }} <br>
            <label>Date butoir :</label> {{ echantillon.dateBut | date("d/m/Y") }}
        </div>
        <div class="col-md-6 text-right">
            <label>Date de création :</label> {{ echantillon.dateCreation | date("d/m/Y H:i:s") }} <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <dl class="dl-horizontal" id="clientFiche">
                    <dt>Nom :</dt>
                    <dd>{{ echantillon.nom }}</dd>
                    <dt>Client :</dt>
                    <dd><a href="{{ path('client_fiche', {id : echantillon.client.id}) }}">{{ echantillon.client.nom }}</a></dd>
                    <dt>Reférence Client : </dt>
                    <dd>{{ echantillon.referenceClient }}</dd>
                    <dt>Commentaire : </dt>
                    <dd>{{ echantillon.commentaire }}</dd>
                    <dt>Urgent : </dt>
                    <dd>
                        {% if echantillon.urgent %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </dd>
                    <dt>Poids</dt>
                    <dd>{{ echantillon.poids }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Liste des molécules pour cette échantillon</h3>
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" id="displaySelection">
                        <option {% if mode != 'detected' %} selected="selected" {% endif %} value="all">Tous afficher</option>
                        <option {% if mode == 'detected' %} selected="selected" {% endif %} value="detected">Afficher les détectés</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="well">
                {% for familleDatas in moleculesEchantillon %}
                    <div class="row">
                        <div class="col-md-6"><h2 id="{{ familleDatas.famille }}">Famille {{ familleDatas.famille }}</h2></div>
                        <div class="col-md-6 text-right">
                            <label>Familles :</label> <br>
                            {% for familleData in moleculesEchantillon %}
                                <a href="#{{ familleData.famille }}" class="btn btn-primary btn-xs">{{ familleData.famille }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Ref. Lacapa</th>
                                    <th>Résultats</th>
                                    <th>Taux Récup. (%)</th>
                                    <th>Unité</th>
                                    <th>Date Analyse</th>
                                    <th>Remarque</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in familleDatas.echantillons %}
                                    <tr>
                                        <td>{{ (row|first).molecules.nom }}</td>
                                        <td>{{ (row|first).resulat }}</td>
                                        <td>{{ (row|first).tauxRecup }}</td>
                                        <td>{{ row.unite }}</td>
                                        <td>
                                            {% if familleDatas.paillasse %}
                                                {{ familleDatas.paillasse.dateCreation | date('d/m/Y') }}
                                            {% endif %}
                                        </td>
                                        <td>{{ (row|first).commentaire }}</td>
                                        <td><button class="btn btn-primary btnClip" data-clipboard-text="{{ (row|first).molecules.nom }} : {{ (row|first).resulat }} {{ row.unite }}" data-toggle="tooltip" data-placement="right" title="Copié !"><i class="fa fa-clipboard" aria-hidden="true"></i></button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                {#<table class="table table-striped" id="modele_table">
                    <thead>
                    <tr>
                        <th>FAMILLE</th>
                        <th>NOM</th>
                        <th>RESULTAT</th>
                        <th>COMMENTAIRE
                        <th>DATE ANALYSE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for molecule in moleculesEchantillon %}
                        <tr>
                            <td>{{ molecule.molecules.famille.nom }}</td>
                            <td>{{ molecule.molecules.nom }}</td>
                            <td>
                                {% if molecule.isAnalyse == 0 %}
                                    <span class="text-danger">en attente</span>
                                {% endif %}
                                {% if molecule.isAnalyse == 1 %}
                                    {% if molecule.resulat == "No" %}
                                        < LQ
                                        {% else %}
                                        {{ molecule.resulat }}  {{ molecule.molecules.methodes.first.unite }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ molecule.commentaire }}</td>
                            <td>{{ molecule.dateAnalyse | date("d/m-Y H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
        $(function() {

            $("#displaySelection").on("change", function () {
                var modeVal = $(this).val();
                window.location = Routing.generate("echantillon_fiche", {id : {{ echantillon.id}}, mode : modeVal});
            });

            $('.btnClip').tooltip({
                trigger: 'click',
                placement: 'right'
            });

            function setTooltip(message) {
                $('btnClip').tooltip('hide')
                    .attr('data-original-title', message)
                    .tooltip('show');
            }

            function hideTooltip() {
                setTimeout(function() {
                    $('.btnClip').tooltip('hide');
                }, 1000);
            }


            var clipboard = new Clipboard('.btnClip');

            clipboard.on('success', function(e) {
                setTooltip('Copié !');
                hideTooltip();
            });


            new Clipboard(".btnClip");

            $(".btnClip").click(function(){
               $(this).tooltip("show");
            });

            $("#modele_table").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}

