{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        .twitter-typeahead{ float:left; width:100%}
        span.twitter-typeahead .tt-menu,
        span.twitter-typeahead .tt-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        span.twitter-typeahead .tt-suggestion {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }
        span.twitter-typeahead .tt-suggestion.tt-cursor,
        span.twitter-typeahead .tt-suggestion:hover,
        span.twitter-typeahead .tt-suggestion:focus {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
            background-color: #337ab7;
        }
        .input-group.input-group-lg span.twitter-typeahead .form-control {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        .input-group.input-group-sm span.twitter-typeahead .form-control {
            height: 30px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }
        span.twitter-typeahead {
            width: 100%;
        }
        .input-group span.twitter-typeahead {
            display: block !important;
            height: 34px;
        }
        .input-group span.twitter-typeahead .tt-menu,
        .input-group span.twitter-typeahead .tt-dropdown-menu {
            top: 32px !important;
        }
        .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
            border-radius: 0;
        }
        .input-group span.twitter-typeahead:first-child .form-control {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group span.twitter-typeahead:last-child .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .input-group.input-group-sm span.twitter-typeahead {
            height: 30px;
        }
        .input-group.input-group-sm span.twitter-typeahead .tt-menu,
        .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
            top: 30px !important;
        }
        .input-group.input-group-lg span.twitter-typeahead {
            height: 46px;
        }
        .input-group.input-group-lg span.twitter-typeahead .tt-menu,
        .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
            top: 46px !important;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>{{ action }} de l'échantillon {{ referenceLacapa }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('echantillon_homepage') }}">Liste échantillons</a>
        </li>
        <li class="active">
            Formulaire échantillon
        </li>
    </ol>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    {{ form(form) }}
                    <a href="{{ path('echantillon_homepage') }}" class="btn btn-default btn-sm">Retour à la liste</a>
                    {#{% if canNotModify == "true" %}
                        <br><br>
                        <div class="alert alert-info" role="alert">Une fiche de paillasse est ratachée à cette échantillon, vous ne pouvez donc le modifier.</div>
                    {% endif %}#}
                </div>
            </div>
            {#<div class="col-md-7">
                <div id="multiple-datasets">
                    <div class="form-group">
                        <label for="">Analyse à réaliser</label>
                        <input class="typeahead form-control" type="text" placeholder="Entrez le nom d'un modèle, d'une famille, d'une molécule...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="moleculesTable">

                        </div>
                    </div>
                </div>
            </div>#}
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/typeahead/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('js/typeahead/bloodhound.min.js') }}"></script>
    <script src="{{ asset('js/typeahead/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('bootflat/js/icheck.min.js') }}"></script>
    <script>
        $( document ).ready(function() {

            var moleculesDatas  = false;
            var famillesDatas   = false;
            var modeleDatas     = false;

            var moleculesInputData  = $(".molecules_datas");
            var moleculeListObjects = [];

            var moleculeURL = Routing.generate("molecules_list_molecules_json");
            var familleURL  = Routing.generate("molecules_famille_json");
            var modeleURL   = Routing.generate("molecules_modele_json");


            /*$("#echantillon_submit").click(function(){
               if(moleculeListObjects.length == 0){
                   alert("Vous devez ajouter au moins une molécule");
                   return false;
               }
            });*/

            /*=================================================================================================================*/


            $.get(moleculeURL , function (data){
               moleculesDatas = data;
               
               var arrayMolecule = moleculesInputData.val().split("|");
               var datas = [];
               $.each(arrayMolecule, function (key , idMolecule) {
                   moleculesDatas.forEach(function (molecule) {
                       if(parseInt(idMolecule) == molecule.id){
                           datas.push(molecule);
                       }
                   })
               })
                update(datas);
            });

            $.get(familleURL, function (data){
                famillesDatas = data;
            });

            $.get(modeleURL, function (data){
                modeleDatas = data;
            });


            /*=================================================================================================================*/

            function search(nameKey, myArray){
                if(moleculesDatas !== false && famillesDatas !== false){
                    for (var i=0; i < myArray.length; i++){
                        if(myArray[i].nom === nameKey){
                            return myArray[i];
                        }
                    }
                }
            }

            function inArray(item, objectJSON){
                var res = false;
                $.each(objectJSON, function(index, value){
                    if(item.id === value.id){
                        res = true;
                    }
                });
                return res;
            }

            function SortByID(a, b){
                var aID = a.id
                var bID = b.id
                return ((aID < bID) ? -1 : ((aID > bID) ? 1 : 0));
            }

            function update(moleculeObjects){
                var datas = [];
                moleculeObjects.forEach(function(current){
                    if(moleculeListObjects.length > 0){
                        if(!inArray(current, moleculeListObjects)){
                            moleculeListObjects.push(current);
                        }
                    }else {
                        moleculeListObjects.push(current);
                    }
                });
                $.each(moleculeListObjects, function(key , value){
                    datas.push(value.id);
                });
                datas.sort();
                inputData = datas.join("|");
                $(".molecules_datas").val(inputData);
                tableGenerate(moleculeListObjects);
            }

            function tableGenerate(data){
                data.sort(SortByID);
                if( $("#tableMolecule").length  === 0){
                    $("#moleculesTable").append("<h3>Molécules de l'échantillon</h3><table id='tableMolecule' class='table table-striped'><thead><tr><th>Nom</th><th>Action</th></tr></thead><tbody id='corpsTable'></tbody></table>");
                }else {
                    $("#tableMolecule").remove();
                    $("#moleculesTable").append("<table id='tableMolecule' class='table table-striped'><thead><tr><th>Nom</th><th>Action</th></tr></thead><tbody id='corpsTable'></tbody></table>");
                }
                if(data.length === 0){
                    $("#tableMolecule").remove();
                    $("#moleculesTable").append("<table id='tableMolecule' class='table table-striped'><thead><tr><th>Nom</th><th>Action</th></tr></thead><tbody id='corpsTable'><tr><td colspan='2'>Aucune molécule sélectionnée</td></tr></tbody></table>");
                }
                data.forEach(function(current){
                    $("#corpsTable").append("<tr><td>" + current.nom + "</td><td><button class='btn btn-primary btn-sm removeMoleculeButton' data-id='"+ current.id +"'>Enlever</button></td></tr>");
                });
            }

            /*=================================================================================================================*/

            var molecules = new Bloodhound({
                datumTokenizer : Bloodhound.tokenizers.obj.whitespace("nom"),
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : moleculeURL,
                    cache : false
                }
            });

            var familles = new Bloodhound({
                datumTokenizer : Bloodhound.tokenizers.obj.whitespace("nom"),
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : familleURL,
                    cache : false
                }
            });

            var modeles = new Bloodhound({
                datumTokenizer : Bloodhound.tokenizers.obj.whitespace("libelle"),
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : modeleURL,
                    cache : false
                }
            });


            $('#multiple-datasets .typeahead').typeahead({
                    highlight: true
                },
                {
                    name : "moleculeName",
                    displayKey: 'nom',
                    source: molecules.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Molécules</h3>'
                    }
                },{
                    name : "familleName",
                    displayKey: 'nom',
                    source: familles.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Familles</h3>'
                    }
                },{
                    name : "modeleName",
                    displayKey: 'libelle',
                    source: modeles.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Modèles</h3>'
                    }
                }
            );

            $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                if(search(suggestion.nom, moleculesDatas)){
                    $.getJSON(Routing.generate("molecules_molecule_json_detail", {id : suggestion.id}) , function (data){
                        update(data);
                    });
                }
                if(search(suggestion.nom, famillesDatas)){
                    $.getJSON(Routing.generate("molecules_famille_molecule_json", {id : suggestion.id}) , function (data){
                        update(data);
                    });
                }
                if(search(suggestion.nom, modeleDatas)){
                    $.getJSON(Routing.generate("molecules_modele_fiche_json", {id : suggestion.id}), function (data){
                        update(data);
                    });
                }
            });

            $(document).on("click", ".removeMoleculeButton", function(){
                var idDelete = $(this).data("id");
                moleculeListObjects = moleculeListObjects.filter(function (el){
                    return el.id !== idDelete;
                });
                update(moleculeListObjects);
            });
        });
    </script>
{% endblock %}