{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des échantillons</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li class="active">
                    Liste échantillons
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <a href="{{ path('echantillon_add') }}" class="btn btn-primary btn-sm">Ajouter un échantillon</a>
            <br><br>
            <div class="well">
                <table class="table table-striped" id="listEchantillon">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>REF. LACAPA</th>
                        <th>REF. ECHAN.</th>
                        <th>Nom Échantillon</th>
                        <th>CLIENT</th>
                        <th>ANNULE</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for echantillon in listEchantillon %}
                        <tr {% if echantillon.supp %}class="danger" {% endif %}>
                            <td style="opacity: .3;">{{ echantillon.id }}</td>
                            <td style="font-weight: bold;">{{ echantillon.referenceLacapa }} {{ echantillon.urgent ? '<span class="label label-info">Urgent</span>' : ''}}</td>
                            <td>{{ echantillon.referenceClient }}</td>
                            <td>{{ echantillon.nom }}</td>
                            <td><a href="{{ path('client_fiche', { id : echantillon.client.id}) }}">{{ echantillon.client.abrege }}</a></td>
                            <td>
                                {% if echantillon.supp %}
                                    ANNULÉ
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('echantillon_fiche', {id : echantillon.id}) }}">Voir</a></li>
                                        {% if is_granted("ROLE_ADMINISTRATIF") or is_granted('ROLE_RES_TECH')%}
                                            <li><a href="{{ path('echantillon_update', {id : echantillon.id}) }}">Modifier les informations</a></li>
                                            <li><a href="{{ path('echantillon_update_molecules', {id : echantillon.id}) }}">Modifier les molécules</a></li>
                                            <li role="separator" class="divider"></li>
                                            {% if echantillon.supp %}
                                                    <li><a href="{{ path('echantillon_undelete', {id : echantillon.id}) }}">Remettre</a></li>
                                                {% else %}
                                                    <li><a href="{{ path('echantillon_delete', {id : echantillon.id}) }}">Annuler</a></li>
                                            {% endif %}

                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#listEchantillon").DataTable({
                "iDisplayLength" : 50,
                'order' : [0, 'desc'],
                /*"columnDefs": [
                    { type: 'date-euro', targets: [3,4] }
                ],
                colReorder: true,*/
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}
