/*.profilSidebar, .navbar{
    position: absolute !important;
    z-index: 9999;
}*/
.profil-details{
    margin-top: 90px;
}
.currentActive{
    background-color: #0b0a0d !important;
    color: #ffffff !important;
}

#clientFiche li{
    list-style: none;
}

.typeahead{
    width: 100%;
}

#multiple-datasets .cat {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.margin-submit{
    margin-top:15px;
}

.breadcrumb {background: rgb(195, 195, 195); border: 0px solid rgba(245, 245, 245, 1); border-radius: 3px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgb(72, 33, 98);}
.breadcrumb a:hover {color: rgb(48, 25, 64);}
.breadcrumb>.active {color: rgb(109, 109, 109);}
.breadcrumb>li+li:before {color: rgb(14, 15, 10); content: "\276F\00a0";}

.pagination > li > a, .pagination > li > span{
    color: #482562;
}

.btn-primary{
    background-color: #544a6d;
    border-color: #482562;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #544a6d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #6f5b89;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

html, body, .container-fluid, .row {
    height: 100%;
}

body{
    background: #d7d7d7;
}

.profilSidebar{
    margin-left: -134px;
    margin-bottom: 0px;
    width: 170px;
    float: left;
    height: 100%;
    background-color: #432464;
    background-image: linear-gradient(180deg, #432464 25%, #5a5d73 100%);
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
    color: white;
    padding:5px;
    position: relative;
    border-radius: 0;
}

.btn-logout{
    position: absolute;
    bottom:40px;
    left:40px;
    color: #e8e8e8;
    text-shadow:1px 0px 1px #414157;
    transition: all 200ms ease-out;
}

.btn-logout:hover{
    color: #482562;
    text-decoration: none;
    text-shadow:1px 0px 1px #6a6a8f;
}

.body{
    padding-left: 250px;
    height:100%;
}

.profilSidebar:hover{
    margin-left: 0px;
}


nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}
.main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
    padding: 10px 10px 0 10px;
}

.navbar-inverse{
    background: #2F3A40;
    border-color: #2F3A40;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

nav.sidebar a{
    padding-right: 13px;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
}

nav.sidebar{
    width: 170px;
    height: 100%;
    float: left;
    margin-bottom: 0px;
    border-radius: 0;
}

nav.sidebar li {
    width: 170px;
}

nav.sidebar:hover{
    margin-left: 0px;
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #7D6CA0;
    background-color: transparent;
}
section{
    padding-left: 15px;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

/*.navbar-inverse .navbar-toggle {
    border-color: #d65c14;
}*/

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav > .active{
    color: #000;
    background: #252E33;
    border-left: 3px solid #9A7BDD;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #7D6CA0;
    background: #252E33;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #7D6CA0;
}

.navbar-inverse .navbar-nav > li > a{
    color: #B3B1B6;
}

.dropdown-menu>li>a{
    color: #0b0a0d;
}

.dropdown-menu > li > a:hover{
    color: #7D6CA0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    color: white;
    background: #252E33;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus{
    color: white !important;
}

.well{
    background-color: #ffffff;
    border-bottom: 3px solid #aba9a9;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #aba9a9;
}



