{% trans_default_domain 'FOSUserBundle' %}
<style>
    body{
        background-color: #432464;
        background-image: linear-gradient(180deg, #432464 25%, #5a5d73 100%);
    }
    .box {
        position: relative;
        border: 1px solid #BBB;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: white;
        margin-top: 70px;
    }

    .body{
        padding-left: 15px;
    }

    .logoPanel{
        margin-top: 90px;
    }
    
    .btn-loggin{
        background: #432464;
    }

    .ribbon {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#F79E05 0%, #F79E05 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
    }
    .ribbon span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #F79E05;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #F79E05;
    }
    .ribbon span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #F79E05;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #F79E05;
    }
</style>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <img src="{{ asset('img/logo-LACAPA.png') }}" alt="Lacapa" class="logoPanel">
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 box">
        {#<div class="ribbon"><span>Bêta</span></div>#}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
            {#<div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>#}
            <input type="submit" class="btn btn-primary btn-md btn-block btn-loggin" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
        {% if error %}
            <br>
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
</div>
