{% extends "base.html.twig" %}
{% block body %}
    <h1>Formulaire modification famille</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Formulaire modification famille de molécules
        </li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}