{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <h1>Formulaire famille de molécules</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Formulaire famille de molécules
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des familles</h1>
            <div class="well">
                {{ form(form) }}
                <table class="table table-striped" id="listClient">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date Ajout</th>
                        <th>Date Modif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for famille in familles %}
                        <tr>
                            <td>{{ famille.nom }}</td>
                            <td>{{ famille.dateCreation|date("d-m-Y H:i:s") }}</td>
                            <td>{{ famille.dateModif|date("d-m-Y H:i:s") }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('molecules_famille_update', {id : famille.id}) }}">Modifier</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('molecules_famille_delete', {id : famille.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#listClient").DataTable({
                "columnDefs": [
                    { type: 'date-euro', targets: [1,2] }
                ],
                colReorder: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}