{% extends "base.html.twig" %}
{% block body %}
    <h1>Fiche molécule</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Fiche molécule
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <label>Nom</label>
                <p>{{ molecule.nom }}</p>
                <label>Famille</label>
                {% if molecule.familles is not null %}
                    <p>{{ molecule.familles.nom }}</p>
                {% endif %}
                <label>Date de création</label>
                <p>{{ molecule.dateCreation|date("d-m-Y h:i:s") }}</p>
                <label>Date de la dernière modification</label>
                <p>{{ molecule.dateModif|date("d-m-Y h:i:s") }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h2>Méthodes</h2></div>
    </div>
    <div class="row">
        {% for methode in molecule.methodes %}
            <div class="col-md-3">
                <div class="well">
                    <label>Nom</label>
                    <p>{{ methode.libelle }}</p>
                    <label>Valeur LQ</label>
                    <p>{{ methode.valueLQ }}</p>
                    <label>Valeur LD</label>
                    <p>{{ methode.valueLD }}</p>
                    <label>Unite</label>
                    <p>{{ methode.unite }}</p>
                    <label>Commentaire</label>
                    <p>{{ methode.commentaire }}</p>
                    <label>Date de création</label>
                    <p>{{ methode.dateCreation|date("d-m-Y H:i:s") }}</p>
                    <label>Date de la dernière modification</label>
                    <p>{{ methode.dateModif|date("d-m-Y H:i:s") }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}