{% extends "base.html.twig" %}
{% block body %}
    <h1>Formulaire Molécule</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Ajouter molécule
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                {{ form_start(form) }}
                {{ form_row(form.Nom) }}
                {{ form_row(form.familles) }}
                {{ form_row(form.actif) }}
                <div class="methodes row">
                    <div class="col-md-12 placeLink"></div>
                </div><br>
                <div class="addMethodePlace row" data-prototype="{{ form_widget(form.methodes.vars.prototype)|e('html_attr') }}">
                    {% for methode in form.methodes %}
                        <div class="col-md-4">
                            <div class="well">
                                {{ form_row(methode.Libelle) }}
                                {{ form_row(methode.Value_LQ) }}
                                {{ form_row(methode.Value_LD) }}
                                {{ form_row(methode.Unite) }}
                                {{ form_row(methode.Commentaire)}}
                                <a href="#" class="btn btn-danger btn-sm remove-tag">Effacer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var addMethodeLink = $('<a href="#" class="add_methode_link btn btn-info btn-sm">Ajouter une méthode</a>');
        var $newLinkLi = $('.placeLink').append(addMethodeLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.addMethodePlace');

            // add the "add a tag" anchor and li to the tags ul
            /*$collectionHolder.append($newLinkLi);*/

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('div.well').length);

            addMethodeLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li

            var $newFormLi = $('<div class="col-md-4"></div>').append('<div class="well">' + newForm + '<a href="#" class="btn btn-danger btn-sm remove-tag">Annuler</a></div>');
            $(".addMethodePlace").append($newFormLi);

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                return false;
            });
        }

        $('.remove-tag').click(function(e) {
            e.preventDefault();
            $(this).parent().parent().remove();
            return false;
        });











        /*var $collectionHolder;
        // setup an "add a tag" link
        var addMethodeLink = $('<a href="#" class="add_methode_link btn btn-default btn-sm">Ajouter une méthode</a>');
        var $newLinkLi = $('.placeLink').append(addMethodeLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.methodes');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('div.well').length);

            addMethodeLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder);
            });



            function addTagForm($collectionHolder) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                //is the index highest?
                var absHighestIndex = getHighestIndex();
                if (index < absHighestIndex) {
                    index = absHighestIndex;
                }

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<div class="col-md-4"></div>').append('<div class="well">' + newForm + '<a href="#" class="btn btn-danger btn-sm remove-tag">Annuler</a></div>');
                $(".addMethodePlace").append($newFormLi);

                $('.remove-tag').click(function(e) {
                    e.preventDefault();
                    $(this).parent().parent().remove();
                    return false;
                });

                function getHighestIndex() {
                    var length = $collectionHolder.find(':input').length;
                    if (length) {
                        var indexes = [];
                        for (var i = 1; i <= length; i++) {
                            var inputName = $collectionHolder.find('li:nth-child('+ i +') input').attr('name');
                            var inputNameArr = inputName.split("][");
                            console.log(inputNameArr);
                            // inputNameArr = ["appbundle_form_name[parent_field", "index", "collection_field]"]
                            //it's the second (1) value in array
                            var inputIndex = inputNameArr[1];
                            indexes.push(inputIndex);
                        };
                        //find the highest value and add 1 for next field
                        var highestIndex = Math.max.apply(null, indexes) + 1;
                        return Math.max(highestIndex);
                    }
                }
                /!*$newLinkLi.after($newFormLi);*!/
            }
            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                return false;
            });
        });*/
    </script>
{% endblock %}