{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <h1>Gestion des molécules</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li class="active">
            Gestion molécules
        </li>
    </ol>
    <a class="btn btn-primary btn-sm" href="{{ path('molecules_formAdd') }}">Ajouter une molécule</a>
    <a class="btn btn-primary btn-sm" href="{{ path('molecules_famille_add') }}">Ajouter / Modifier une famille</a>
    <a class="btn btn-primary btn-sm" href="{{ path('molecules_modele_add') }}">Ajouter un modéle d'analyse</a>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <table class="table table-striped" id="listClient">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Famille</th>
                        <th>Date Ajout</th>
                        <th>Date Modif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for molecule in molecules %}
                        <tr>
                            <td>{{ molecule.nom }}</td>
                            <td>
                                {% if molecule.familles is not null %}
                                    {{ molecule.familles.nom }}
                                {% endif %}
                            </td>
                            <td>{{ molecule.dateCreation|date("d-m-y H:i:s") }}</td>
                            <td>{{ molecule.dateModif|date("d-m-y H:i:s") }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('molecules_fiche', {id : molecule.id}) }}">Voir</a></li>
                                        <li><a href="{{ path('molecules_update', {id : molecule.id}) }}">Modifier</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('molecules_delete', {id : molecule.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
<script>
    $( document ).ready(function() {
        $("#listClient").DataTable({
            "columnDefs": [
                { type: 'date-euro', targets: [2,3] }
            ],
            colReorder: true,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
            }
        });
    });
</script>
{% endblock %}
