{% extends "base.html.twig" %}
{% block body %}
    <h1>Liste des méthodes</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Gestion méthode molécule
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-sm" href="{{ path('molecules_methode_add_form', {id : molecule.id}) }}">Ajouter une méthode</a>
        </div>
    </div><br>
    <div class="row">
        {% for methode in methodes %}
            <div class="col-lg-3">
                <div class="well">
                    <label>Libelle</label>
                    <p>{{ methode.libelle }}</p>
                    <label>Valeur LQ</label>
                    <p>{{ methode.valueLQ }}</p>
                    <label>Valeur LD</label>
                    <p>{{ methode.valueLD }}</p>
                    <label>Unité de mesure</label>
                    <p>{{ methode.unite }}</p>
                    <label>Commentaire</label>
                    <p>{{ methode.commentaire }}</p>
                    <a class="btn btn-info btn-sm" href="{{ path('molecules_methode_update', {id : methode.id}) }}">Modifier</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('molecules_methode_supp', {id : methode.id}) }}">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}