{% extends "base.html.twig" %}
{% block body %}
    <h1>Ajouter méthode</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('molecules_homepage') }}">Gestion molécules</a>
        </li>
        <li class="active">
            Ajouter méthode
        </li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
            <a class="btn btn-default" href="{{ path('molecules_list_method', {id : molecule.id}) }}">Annuler</a>
        </div>
    </div>
{% endblock %}