{% extends 'base.html.twig' %}
{% block body %}
    <h1>Module vérification des molécules</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}

