<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                line-height: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('molecule_outil_verif') }}">Retour</a>
                    <h3>Famille : {{ famille.nom }}</h3>
                    {% for molecule in molecules %}
                        <div class="panel panel-default">
                            <div class="panel-heading">molécule <strong>{{ molecule.nom }}</strong></div>
                            <div class="panel-body">
                                <div class="row">
                                    {% for methode in molecule.methodes %}
                                        <div class="col-xs-3 col-md-2">
                                            <div class="well">
                                                <label>Libelle</label>
                                                <p>{{ methode.libelle }}</p>
                                                <label>Value LQ</label>
                                                <p>{{ methode.valueLQ }}</p>
                                                <label>Value LD</label>
                                                <p>{{ methode.valueLD }}</p>
                                                <label>Unité</label>
                                                <p>{{ methode.unite }}</p>
                                                {% if methode.commentaire is not null %}
                                                    <label>Commentaire</label>
                                                    <p>{{ methode.commentaire }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>

