{% extends "base.html.twig" %}
{% block body %}
    <h1>Ajouter un client</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path("client_homepage") }}">Gestion des clients</a>
        </li>
        <li class="active">
            Ajout client
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                {{ form(formClient) }}
                <a class="btn btn-default" href="{{ path('client_homepage') }}">Annuler</a>
            </div>
        </div>
    </div>
{% endblock %}