{% extends "base.html.twig" %}
{% block body %}
    <h1>Modification de la fiche <small>{{ client.nom }}</small></h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path("client_homepage") }}">Gestion des clients</a>
        </li>
        <li>
            <a href="{{ path('client_fiche', {id : client.id}) }}">Fiche client</a>
        </li>
        <li class="active">
            Modification client
        </li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="well">
                {{ form(form) }}
                <a type="button" class="btn btn-default" href="{{ path('client_fiche', {id : client.id}) }}">Retour à la fiche</a>
            </div>
        </div>
    </div>
{% endblock %}