{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Fiche client N° {{ client.id }}</h1>
            <p>
                <strong>Date de création :</strong>  {{ client.dateCreation|date("d-m-Y H:i") }}<br>
                <strong>Dernière modifications :</strong> {{ client.dateModif|date("d-m-Y H:i") }}
            </p>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('client_homepage') }}">Gestion Clients</a>
                </li>
                <li class="active">
                    Fiche client
                </li>
            </ol>
            <a type="button" class="btn btn-primary btn-sm" href="{{ path('client_adresseForm', {id : client.id}) }}">Ajouter une adresse</a>
            <a type="button" class="btn btn-info btn-sm" href="{{ path('client_modifForm', {id : client.id}) }}">Modifier le client</a>
            <br><br>
        </div>
        <div class="col-md-12">
            <div class="well">
                <dl class="dl-horizontal" id="clientFiche">
                    <dt>Nom :</dt>
                    <dd>{{ client.nom }}</dd>
                    <dt>Abrege :</dt>
                    <dd>{{ client.abrege }}</dd>
                    <dt>Nombre d'analyses :</dt>
                    <dd>{{ client.nBAnalyse }}</dd>
                    <dt>Remarque :</dt>
                    <dd>{{ client.remarque }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Adresses du client</h4>
            <div class="row">
                {% if client.adresses|length > 0 %}
                    {% for adresse in client.adresses %}
                        <div class="col-md-3">
                            <div class="well">
                                <address>
                                    <strong>{{ adresse.titre }}</strong><br>
                                    <strong>Contact</strong> : {{ adresse.contactCL }}<br><br>
                                    {{ adresse.rue }}
                                    {{ adresse.rueBis }}
                                    {{ adresse.codePostal }} {{ adresse.ville }} {{ adresse.pays }}<br><br>
                                    <abbr title="Téléphone">Tel:</abbr> {{ adresse.telephone }} <br>
                                    <abbr title="Téléphone autre">Tel:</abbr> {{ adresse.telephoneAutre }}<br><br>
                                    <a class="btn btn-info btn-sm" href="{{ path('client_adresseModifForm', {id : adresse.id}) }}">Modifier</a>
                                    <a class="btn btn-danger btn-sm" href="{{ path('client_adresseSupp', {id : adresse.id}) }}">Supprimer</a>
                                </address>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune adresse pour ce client</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}