{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Gestion des clients</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("utilisateurs_homepage") }}">Accueil</a>
                </li>
                <li class="active">
                    Gestion Clients
                </li>
            </ol>
            <a class="btn btn-primary btn-sm" href="{{ path("client_ajoutForm") }}" role="button">Ajouter un client</a>
            <br><br>
            <div class="well">
                <table class="table table-striped" id="listClient">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nom (Abrege)</th>
                        <th>Date Ajout</th>
                        <th>Date Modif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.nom }}</td>
                            <td>{{ client.abrege }}</td>
                            <td>{{ client.dateCreation|date("d-m-Y H:i:s") }}</td>
                            <td>
                                {% if client.dateModif %}
                                    {{ client.dateModif|date("d-m-Y H:i:s") }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('client_fiche', {id : client.id}) }}">Voir</a></li>
                                        <li><a href="{{ path('client_modifForm', {id : client.id}) }}">Modifier</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('client_suppression', {id : client.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#listClient").DataTable({
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 4 ] }
                ],
                "columnDefs": [
                    { type: 'date-euro', targets: [3,4] }
                ],
                colReorder: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}