{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.css"/>
    <style>
        .twitter-typeahead{ float:left; width:100%}
        span.twitter-typeahead .tt-menu,
        span.twitter-typeahead .tt-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        span.twitter-typeahead .tt-suggestion {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }
        span.twitter-typeahead .tt-suggestion.tt-cursor,
        span.twitter-typeahead .tt-suggestion:hover,
        span.twitter-typeahead .tt-suggestion:focus {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
            background-color: #337ab7;
        }
        .input-group.input-group-lg span.twitter-typeahead .form-control {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        .input-group.input-group-sm span.twitter-typeahead .form-control {
            height: 30px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }
        span.twitter-typeahead {
            width: 100%;
        }
        .input-group span.twitter-typeahead {
            display: block !important;
            height: 34px;
        }
        .input-group span.twitter-typeahead .tt-menu,
        .input-group span.twitter-typeahead .tt-dropdown-menu {
            top: 32px !important;
        }
        .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
            border-radius: 0;
        }
        .input-group span.twitter-typeahead:first-child .form-control {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group span.twitter-typeahead:last-child .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .input-group.input-group-sm span.twitter-typeahead {
            height: 30px;
        }
        .input-group.input-group-sm span.twitter-typeahead .tt-menu,
        .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
            top: 30px !important;
        }
        .input-group.input-group-lg span.twitter-typeahead {
            height: 46px;
        }
        .input-group.input-group-lg span.twitter-typeahead .tt-menu,
        .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
            top: 46px !important;
        }

        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        ol.example li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ol.example li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Paillasse</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('paillasse_homepage') }}">Liste fiche paillasses</a></li>
        <li class="active">Création d'une fiche de paillasse</li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <h4>Liste des molécules à analyser</h4>
            <div class="well">
                <table class="table table-striped datatable">
                    <thead>
                    <tr>
                        <th>URGENT</th>
                        <th>REF. LACAPA</th>
                        <th>MOLECULE</th>
                        <th>FAMILLE</th>
                        <th>DATE ARRIVE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for molecule in moleculesEchantillon %}
                        <tr {% if molecule.echantillon.urgent %}class="danger" {% endif %}>
                            <td>{% if molecule.echantillon.urgent %} Urgent {% endif %}</td>
                            <td>{{ molecule.echantillon.referenceLacapa }}</td>
                            <td>{{ molecule.molecules.nom }}</td>
                            <td>{{ molecule.molecules.famille.nom }}</td>
                            <td>{{ molecule.echantillon.dateArriv | date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form(form) }}
            </div>
        </div>
        <div class="col-md-6">
            <h4>Molécules pour analyses.</h4>
            <div class="well">
                <div id="multiple-datasets">
                    <div class="form-group">
                        <label for="">Analyse à réaliser</label>
                        <input class="typeahead form-control" type="text" placeholder="Entrez le nom d'une molécule ou d'une famille existant parmi la liste...">
                    </div>
                </div>
                <table class="table table-striped sortableTable" id="todo">
                    <thead>
                    <tr>
                        <th>REF. LACAPA</th>
                        <th>NOM</th>
                        <th>CLIENT</th>
                        <th>ANALYSE</th>
                        <th>FAMILLE</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/datatables.min.js"></script>
    <script src="{{ asset('js/sortable.js') }}"></script>
    <script src="{{ asset('js/typeahead/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('js/typeahead/bloodhound.min.js') }}"></script>
    <script src="{{ asset('js/typeahead/typeahead.bundle.min.js') }}"></script>
    <script>
        $( document ).ready(function() {

            var datasForAnalyse         = [];
            var moleculeEchantillon     = [];
            var moleculeEchantillonURL  = Routing.generate("echantillon_molecule_list_json");
            var famillesEchantillonURL  = Routing.generate("echantillon_molecule_famille_list_json");
            var inputDatas              = $(".molecule_datas");

            var famillesArray = ["LC", "GC", "HAP", "METAUX"];

            /*var sort = $('.sortableTable').sortable({
                containerSelector: 'table',
                itemPath: '> tbody',
                itemSelector: 'tr',
                placeholder: '<tr class="placeholder"/>',
                onDrop : function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                    $("body").removeClass(container.group.options.bodyClass)

                    var data = sort.sortable("serialize").get();
                    var array = [];
                    data.forEach(function(current){
                       current.forEach(function(row){
                           array.push(row.id);
                       })
                    });
                    datas = array.join("|");
                    inputDatas.val(datas);
                }
            });*/


            $.get(moleculeEchantillonURL, function(data){
                moleculeEchantillon = data;
            });

            function inArray(item, objectJSON){
                var res = false;
                $.each(objectJSON, function(index, value){
                    if(item.id === value.id){
                        res = true;
                    }
                });
                return res;
            }

            function echantillonExiste(echantillon, familleSearch, listDatas){
                var res = false;
                $.each(listDatas, function(index, value){
                    if(echantillon === value.referenceLacapa && familleSearch === value.famille){
                        res = true;
                    }
                });
                return res;
            }

            function update(data){
                var datas = [];
                if(Array.isArray(data)){
                    data.forEach(function(current){
                        if(datasForAnalyse > 0){
                            if(!inArray(current, datasForAnalyse)){
                                datasForAnalyse.push(current);
                            }
                        }else {
                            datasForAnalyse.push(current);
                        }
                    });
                }else {
                    if(!inArray(data, datasForAnalyse)){
                        datasForAnalyse.push(data);
                    }else {
                        alert("Vous avez déjà selectionné cette molécule");
                    }
                }
                datasForAnalyse.forEach(function(current){
                    datas.push(current.id);
                });
                datas = datas.join("|");
                inputDatas.val(datas);
                updateTable(datasForAnalyse);
            }

            function updateTable(datas){
                var table = $("#todo tbody");
                var html = "";
                var datasDisplay = [];
                datas.forEach(function(current){
                    console.log(current);
                    if(famillesArray.indexOf(current.famille) !== -1){
                        if(!echantillonExiste(current.referenceLacapa, current.famille , datasDisplay)){
                            datasDisplay.push({molecule : "Toutes", famille : current.famille, referenceLacapa : current.referenceLacapa, echantillonNom : current.echantillonNom, client : current.abrege});
                        }
                    }else {
                        datasDisplay.push({molecule : current.molecule, famille : current.famille, referenceLacapa : current.referenceLacapa, echantillonNom : current.echantillonNom, client : current.abrege});
                    }
                });
                datasDisplay.forEach(function(current){
                    html += "<tr>" +
                        "<td>"+ current.referenceLacapa +"</td>" +
                        "<td>"+ current.echantillonNom +"</td>" +
                        "<td>"+ current.client +"</td>" +
                        "<td>"+ current.molecule +"</td>" +
                        "<td>"+ current.famille +"</td>" +
                        "<td><button class='btn btn-primary btn-sm delete' data-famille='"+ current.famille +"' data-ref='"+ current.referenceLacapa +"' data-type='"+ (current.molecule === "Toutes" ? "famille" : "molecule") +"' data-id='"+ current.id +"'>Enlever</button</td>" +
                        "</tr>";
                });
                table.html(html);
            }

            $(document).on("click", ".delete", function(){

                var type = $(this).data("type");
                if(type === "famille"){
                    var familleSelected = $(this).data("famille");
                    var ref = $(this).data("ref");
                    datasForAnalyse.forEach(function(current){
                        if(current.famille === familleSelected && current.referenceLacapa === ref){
                            datasForAnalyse = datasForAnalyse.filter(function (el){
                                return el.id !== current.id;
                            });
                        }
                    })
                }else {
                    var idDelete = $(this).data("id");
                    datasForAnalyse = datasForAnalyse.filter(function (el){
                        return el.id !== idDelete;
                    });
                }
                update(datasForAnalyse);
            });

            var molecules = new Bloodhound({
                datumTokenizer : function (datum){
                    return Bloodhound.tokenizers.whitespace(datum.nom)
                },
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : moleculeEchantillonURL,
                    cache : false,
                    filter : function(response){
                        return $.map(response, function(current){
                            return {
                                id : current.id,
                                nom : current.molecule.nom,
                                type : "molecule"
                            }
                        })
                    }
                }
            });

            var familles = new Bloodhound({
                datumTokenizer : function (datum){
                    return Bloodhound.tokenizers.whitespace(datum.nom)
                },
                queryTokenizer : Bloodhound.tokenizers.whitespace,
                prefetch : {
                    url : famillesEchantillonURL,
                    cache : false,
                    filter : function(response){
                        return $.map(response, function(current){
                            return {
                                nom : current.nom,
                                type: "famille"
                            }
                        })
                    }
                }
            });

            $('#multiple-datasets .typeahead').typeahead({
                    highlight: true
                },
                {
                    name : "moleculeName",
                    displayKey: 'nom',
                    source: molecules.ttAdapter(),
                    templates: {
                        header: '<h3 class="cat">Molécules</h3>'
                    }
                },{
                    name : 'familleName',
                    displayKey : 'nom',
                    source : familles.ttAdapter(),
                    templates : {
                        header: '<h3 class="cat">Famille</h3>'
                    }
                }
            );

            $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                if(suggestion.type === "molecule"){
                    $.get(Routing.generate("echantillon_molecule_json", {id : suggestion.id}), function (data){
                        update(data);
                    })
                }else if(suggestion.type === "famille"){
                    $.get(Routing.generate('echantillon_molecule_famille_json',{ nom : suggestion.nom}), function(data){
                        console.log(data);
                        update(data);
                    });
                }
            });

            $(".datatable").DataTable({
                colReorder: true,
                order : [[2, "asc"]],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}