<style type="text/css">
    <!--
    table th{
        text-align: center;
    }

    .molecule td, .molecule th{
        border: solid 0.1mm #000000;
        text-align: center;
    }

    .pagination {
        text-align: center;
        font-size: 5.8pt;
    }
    -->
</style>
<page>
    <page_footer>
        <table style="width: 100%; font-size: 6pt; margin: 0; border: solid 0.2mm #000000;">
            <tr>
                <td style="width: 50%;">
                    1° Collecte : Après formalisation de la fiche.<br>
                    1° Archivage : Dans le classeur "FICHE DE PAILLASSE".<br>
                    2° Collecte : Lorsque le classeur "FICHE DE PAILLASSE".<br>
                    2° Archivage : Dans le classeur "ARCHIVES FICHES DE PAILLASSE" dans le placart PL1.<br>
                    3° Collecte : Lorsque le classeur "ARCHIVES FICHES DE PAILLASE" est plein.<br>
                    3° Archivage : Dans des cartons dans la salle n°9 d'archivage et de réunion.
                </td>
                <td style="width: 50%;">
                    Accès : Ensemble du personnel de LACAPA<br>
                    Durée conservation : 5 ans après formalisation ou plus à titre de sauvegarde des connaissances.<br>
                    Élimination : Broyage.<br>
                    Indexage : Date de formalisation.<br>
                    Classement : Inversement chronologique.
                </td>
            </tr>
        </table>
        <div class="pagination">
            Page : [[page_cu]]/[[page_nb]]
        </div>
    </page_footer>
    <table style="width: 100%; border: solid 0.7mm #0b0a0d;">
        <tr>
            <td style="width: 30%"><img src="https://dev.lacapa.fr/logo.jpg" alt="" width="150"></td>
            <td align="center" style="width: 40%;">
                <strong>Fiche de paillasse</strong><br>
                <strong>Créée le :</strong> {{ paillasse.dateCreation | date("d/m/Y H:i") }}
            </td>
            <td style="width: 30%; text-align: right;">
                Identité <br>
                ERG/01/V04 <br>
                Applicable depuis le <br>
                13/06/2019
            </td>
        </tr>
    </table>
    <hr>
    Opérateur : {{ paillasse.utilisateur.nom }} {{ paillasse.utilisateur.prenom }}
    <hr>
    <table style="font-size: 7pt;" class="molecule" cellspacing="0">
        <tr>
            <th >ORDRE</th>
            <th >CLIENT</th>
            <th >ECHANTILLON</th>
            <th >Ref.LACAPA</th>
            <th >PRISE (g ou ml)</th>
            <th >BROYEUR</th>
            <th >MTH</th>
            <th >ANALYSE</th>
            <th >REM.</th>
        </tr>
        {% set count = 0 %}
        {% for row in echantillons %}
            {% set count = loop.index %}
            <tr>
                <td style="width: 35px;">{{ loop.index}}</td>
                <td style="width: 80px;">{{ row.client }}</td>
                <td style="width: 20px;">{{ row.nom }}</td>
                <td style="width: 60px">{{ row.refLacapa }}</td>
                <td style="height: 60pt; width: 220px;"></td>
                <td style="width: 50px"></td>
                <td style="width: 50px">{{ row.methode }}</td>
                <td style="width: 70px;">
                    {% if row.analyse is iterable %}
                        {% for analyse in row.analyse %}
                            {{ analyse.nom }} <br>
                        {% endfor %}
                    {% else %}
                        {{ row.analyse }}
                    {% endif %}
                </td>
                <td style="width: 80px">
                    {{ row.remarque | nl2br}}
                </td>
            </tr>
        {% endfor %}
        {% if nbChampsVide > 0 %}
            {% for i in 1..nbChampsVide %}
                {% set count = count + 1 %}
                <tr>
                    <td style="height: 60pt;">{{ count }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</page>
