{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des fiches de paillasses</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="active">Liste fiches paillasses</li>
            </ol>
            <a class="btn btn-primary btn-sm" href="{{ path('paillasse_add') }}">Créer une paillasse</a>
            <br><br>
            <div class="well">
                {{ form(form) }}
                {% if startDate is not null and endDate is not null%}
                    Résultat(s) de votre recherche du <strong>{{ startDate | date("d/m/Y") }}</strong> au <strong>{{ endDate| date("d/m/y") }}</strong>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DATE CREATION</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paillase in paillasses %}
                        <tr>
                            <td>{{ paillase.id }}</td>
                            <td>{{ paillase.dateCreation | date("d/m/Y H:i") }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" target="_blank" href="{{ path('paillasse_fiche', {id : paillase.id}) }}">Voir la fiche</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script>
        $( document ).ready(function() {

            var start = new Date();

            var end = new Date();
            end.setMonth(end.getMonth() - 1);

            $('.rangePicker').daterangepicker({
                "autoApply": true,
                /*"ranges": {
                    "Hier": [
                        "2017-08-28T08:59:38.667Z",
                        "2017-08-28T08:59:38.667Z"
                    ],
                    "7 dernier jours": [
                        "2017-08-23T08:59:38.667Z",
                        "2017-08-29T08:59:38.667Z"
                    ],
                    "Ce Mois ci": [
                        "2017-07-31T22:00:00.000Z",
                        "2017-08-31T21:59:59.999Z"
                    ],
                    "Le Mois Dernier": [
                        "2017-06-30T22:00:00.000Z",
                        "2017-07-31T21:59:59.999Z"
                    ]
                },*/
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Recherche",
                    "cancelLabel": "Annuler",
                    "fromLabel": "Du",
                    "toLabel": "Au",
                    "customRangeLabel": "Personnalisée",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Dim",
                        "Lun",
                        "Mar",
                        "Mer",
                        "Jeu",
                        "Ven",
                        "Sam"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end
            }, function(startDate, endDate, label) {
                window.location.href = Routing.generate("paillasse_homepage", {start : startDate.format("YYYY-MM-DD"), end : endDate.format("YYYY-MM-DD")});
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
            });
        });
    </script>
{% endblock %}

