{% extends 'base.html.twig' %}
{% set currentPath = path(app.request.get('_route')) %}
{% block stylesheets %}
    <style>
        .wellCustom{
            min-height: 19px;
            padding: 19px;
            margin-bottom: 15px;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            background-color: rgb(238, 238, 238);
            position: relative;
        }

        .well-checked{
            background-color: #c9a5e4;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <h1>Module réinitialisation de fiche de paillasse</h1>
        <div class="well">
            <div class="row">
                <div class="col-md-12 text-right">
                </div>
                <div class="col-md-12">
                    <form action="{{ url('paillasse_reset') }}" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Recherche </label>
                                    <input type="text" class="form-control" id="" placeholder="GC, LC, ..." name="search" value="{% if search %}{{ search }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if echantillons %}
                    <form action="{{ url('paillasse_reset') }}" method="post">
                        <input type="hidden" name="search" value="{% if search %}{{ search }}{% endif %}">
                        <div class="row" style="overflow-y: scroll; max-height: 500px;">
                            <div class="col-md-12">
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <tr>
                                        <th></th>
                                        <th>Réf. Lacapa</th>
                                        <th>Nom</th>
                                        <th>Client</th>
                                        <th>Date arrivé</th>
                                    </tr>
                                    {% for echantillon in echantillons %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="checkbox" name="echantillons[]" value="{{ echantillon.id }}">
                                            </td>
                                            <td>{{ echantillon.ReferenceLacapa }}</td>
                                            <td>{{ echantillon.Nom }}</td>
                                            <td>
                                                {{ echantillon.Abrege }}
                                            </td>
                                            {#<td>{{ echantillon.client.Abrege }} <br> {{ echantillon.nom }}</td>#}
                                            <td>{{ echantillon.DateArriv | date("d/m/Y H:i") }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% for echantillon in echantillons %}
                                {#<div class="col-md-3 itemEchantillon" data-toggle="tooltip" data-placement="bottom" title="{{ echantillon.client.Abrege }} <br> {{ echantillon.nom }}">
                                    <div class="wellCustom">
                                        <input type="checkbox" class="checkbox" style="opacity: 0; position: absolute;" name="echantillons[]" value="{{ echantillon.id }}">
                                        <strong>{{ echantillon.referenceLacapa }}</strong>
                                        <p>
                                            {{ echantillon.nom | truncate(20)}}<br>
                                            {{ echantillon.dateArriv | date("d/m/Y H:i") }}
                                        </p>
                                    </div>
                                </div>#}
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if currentPage > 1 %}
                                            <li>
                                                <a href="{{ currentPath }}?page={{ currentPage - 1 }}&search={{ search }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in 0..nbPage - 1%}
                                            {% set i = i + 1 %}
                                            <li class="{{ (currentPage == i) ? 'active' : '' }}"><a href="{{ currentPath }}?page={{ i }}&search={{ search }}">{{ i }}</a></li>
                                        {% endfor %}
                                        {% if currentPage != nbPage %}
                                            <li>
                                                <a href="{{ currentPath }}?page={{ currentPage + 1 }}&search={{ search }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button type="submit" class="btn btn-primary pull-right">Réinitialiser</button>
                            </div>
                        </div>
                    </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip({
                html : true
            });

            $("#selectAll").on("change", function () {
                if ($(this).is(":checked")){
                    var nbItem = $(".itemEchantillon").length;
                    if (nbItem > 4){
                        alert("Attention ! L'ajout de tous ces éléments va prendre un temps conséquent.")
                    }
                    $(".itemEchantillon").each(function (key, item) {
                        var inputCheck  = $(item).children(".wellCustom").children(".checkbox");
                        var well        = $(item).children(".wellCustom");
                        if (!inputCheck.is(":checked")){
                            inputCheck.prop("checked", true);
                            $(well).addClass("well-checked");
                        }
                    })
                }else {
                    $(".itemEchantillon").each(function (key, item) {
                        var inputCheck  = $(item).children(".wellCustom").children(".checkbox");
                        var well        = $(item).children(".wellCustom");
                        if (inputCheck.is(":checked")){
                            inputCheck.prop("checked", false);
                            $(well).removeClass("well-checked");
                        }
                    })
                }
            });

            $(".itemEchantillon").on("click",function () {
                var input   = $(this).children(".wellCustom").children(".checkbox");
                var well    = $(this).children(".wellCustom");
                if ( !$(input).is(":checked") ){
                    input.prop("checked", true);
                    $(well).addClass("well-checked");
                }else {
                    input.prop("checked", false);
                    $(well).removeClass("well-checked");
                }
            })
        })
    </script>
{% endblock %}

