{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        .placeholder{
            height:40px;
        }

        .index{
            width:30px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Création fiche de paillasse : 2ème étape</h1>
    <div class="well">
        <form method="post" name="test" target="_blank">
            <div class="row">
                <div class="col-md-3">
                    <label>Nombre de champs vide :</label>
                    <input type="number" min="0" max="20" name="nbChampsVide" class="form-control" value="0">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <br>
                    <label for="">Méthode :</label>
                    <select name="analyse[methodes]" class="form-control">
                        {% for methode in methodesList %}
                            <option value="{{ methode.id }}">{{ methode.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <table class="table table-striped sorted_table">
                <thead>
                <tr>
                    <th>ORDRE</th>
                    <th>CLIENT</th>
                    <th>ECHANTILLON</th>
                    <th>REF</th>
                    <th>Analyse</th>
                    <th>REMARQUE</th>
                </tr>
                </thead>
                <tbody>
                {% for row in collection %}
                    <tr>
                        <td><i class="fa fa-arrows" aria-hidden="true"></i> <input type="text" class="index" name="analyse[echantillons][{{ loop.index }}][indexT]" value="{{ loop.index }}" disabled></td>
                        <input type="hidden" name="analyse[echantillons][{{ loop.index }}][nom]" value="{{ row.famille }}">
                        <input type="hidden" name="analyse[echantillons][{{ loop.index }}][client]" value="{{ row.client }}">
                        <input type="hidden" name="analyse[echantillons][{{ loop.index }}][echantillon]" value="{{ row.refLacapa }}">
                        <td>{{ row.client }}</td>
                        <td>{{ row.nom }}</td>
                        <td>{{ row.refLacapa }}</td>
                        <td>
                            {% if row.analyse is iterable %}
                                {% for mol  in row.analyse %}
                                    {{ mol.nom }} <br>
                                {% endfor %}
                            {% else %}
                                {{ row.analyse }}
                            {% endif %}
                        </td>
                        <td>
                            <textarea name="analyse[echantillons][{{ loop.index }}][remarque]" id="" cols="30" rows="3">{% if row.urgent %}URGENT{% endif %} {{ row.commentaire }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
                {#{% for row in collection %}
                    {% if row.analyse == "Toutes" %}
                        <tr>
                            <td><i class="fa fa-arrows" aria-hidden="true"></i> <input type="text" class="index" name="analyse[famille][{{ loop.index }}][index]" value="{{ loop.index }}" disabled></td>
                            <input type="hidden" name="analyse[famille][{{ loop.index }}][nom]" value="{{ row.famille }}">
                            <input type="hidden" name="analyse[famille][{{ loop.index }}][client]" value="{{ row.client }}">
                            <input type="hidden" name="analyse[famille][{{ loop.index }}][echantillon]" value="{{ row.echantillon }}">
                            <input type="hidden" name="analyse[famille][{{ loop.index }}][ref]" value="{{ row.REF }}">
                            <td>{{ row.client }}</td>
                            <td>{{ row.echantillon }}</td>
                            <td>{{ row.REF }}</td>
                            <td>{{ row.analyse }}</td>
                            <td>{{ row.famille }}</td>
                            <td>
                                <textarea name="analyse[famille][{{ loop.index }}][remarque]" id="" cols="30" rows="3">{{ row.remarque }}</textarea>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><i class="fa fa-arrows" aria-hidden="true"></i> <input type="text" class="index" name="analyse[molecule][{{ loop.index }}][index]" value="{{ loop.index }}" disabled></td>
                            <input type="hidden" value="{{ row.id }}" name="analyse[molecule][{{ loop.index }}][id]">
                            <input type="hidden" name="analyse[molecule][{{ loop.index }}][client]" value="{{ row.client }}">
                            <input type="hidden" name="analyse[molecule][{{ loop.index }}][echantillon]" value="{{ row.echantillon }}">
                            <input type="hidden" name="analyse[molecule][{{ loop.index }}][ref]" value="{{ row.REF }}">
                            <td>{{ row.client }}</td>
                            <td>{{ row.echantillon }}</td>
                            <td>{{ row.REF }}</td>
                            #}{#<td>
                                <select name="analyse[molecule][{{ loop.index }}][methodes]">
                                    {% for methode in row.methodes %}
                                        <option value="{{ methode.id }}">{{ methode.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </td>#}{#
                            <td>{{ row.analyse }}</td>
                            <td>{{ row.famille }}</td>
                            <td>
                                <textarea name="analyse[molecule][{{ loop.index }}][remarque]" id="" cols="30" rows="3">{{ row.remarque }}</textarea>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}#}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Générer la fiche de paillasse</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/sortable.js') }}"></script>
    <script>
        $(function() {
            $("button[type=\"submit\"]").click(function (e) {
                setTimeout(function (args) {
                    window.location.href = Routing.generate('paillasse_homepage');
                } , 3000)
            })

            var sort = $('.sorted_table').sortable({
                containerSelector: 'table',
                itemPath: '> tbody',
                itemSelector: 'tr',
                placeholder: '<tr class="placeholder"/>',
                onDrop: function ($item, container, _super) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                    $("body").removeClass(container.group.options.bodyClass);
                    var index = 1;
                    $("tbody tr").each(function(key, value){
                        $("tbody tr").eq(key).children("td").children(".index").val(index);
                        index ++;
                    });
                }
            });
        });
    </script>
{% endblock %}

