{% extends 'base.html.twig' %}

{% block body %}
    <h1>Outil génération fiche de paillasse</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <form action="{% if paillasse %} {{ path('paillasse_add', {id : paillasse.id}) }} {% else %} {{ path('paillasse_add') }} {% endif %}" method="post">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Recherche</label>
                                <input type="text" class="form-control" id="searchPaillasseButton" placeholder="Rechercher une famille" name="search" value="{{ famille }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Rechercher</button>
                        </div>
                    </form>
                </div>
                {% if listEchantillon is not empty and listEchantillon|length > 1%}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="selectAll"> Tous sélectionner
                        </label>
                    </div>
                {% endif %}
                <form action="{% if paillasse %} {{ path('paillasse_add', {id : paillasse.id}) }} {% else %} {{ path('paillasse_add') }} {% endif %}" method="post">
                    <div class="row" style="max-height: 700px; overflow-y: scroll;">
                        {% for echantillon in listEchantillon %}
                            <div class="col-md-3 itemEchantillon" data-toggle="tooltip" data-placement="bottom" title="{{ echantillon.client.Abrege }} <br> {{ echantillon.nom }}">
                                <div class="wellCustom {% if echantillon.supp %}bg-danger{% elseif echantillon.urgent %}bg-info{% endif %}">
                                    <input type="checkbox" class="checkbox" style="opacity: 0; position: absolute;" name="echantillons[]" value="{{ echantillon.id }}">
                                    <strong>{{ echantillon.referenceLacapa }}</strong>
                                    <p>
                                        {{ echantillon.nom | truncate(20)}}<br>
                                        {{ echantillon.dateArriv | date("d/m/Y H:i") }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if paillasse %}
                                <input type="hidden" name="paillasse" value="{{ paillasse.id }}">
                            {% endif %}
                            {% if famille %}
                                <input type="hidden" name="search" value="{{ famille }}">
                            {% endif %}
                            {% if famille %}
                                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 15px;">Ajouter</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if paillasse %}
            <div class="col-md-12">
                <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Paillasse N° {{ paillasse.id }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            {% for echantillon in echantillonInPaillasse %}
                                <div class="col-md-3 itemEchantillonInPaillasse" data-toggle="tooltip" data-placement="bottom" title="{{ echantillon.nom }}">
                                    <div class="wellCustom">
                                        <strong>{{ echantillon.referenceLacapa }}</strong>
                                        <p>
                                            {{ echantillon.nom | truncate(20)}}<br>
                                            {{ echantillon.dateArriv | date("d/m/Y H:i") }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-12 pull-right">
                                <a href="{{ path('paillasse_nextstep', {id : paillasse.id}) }}" class="btn btn-primary">Suivant</a>
                            </div>
                        </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .wellCustom{
            min-height: 19px;
            padding: 19px;
            margin-bottom: 15px;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            background-color: rgb(238, 238, 238);
            position: relative;
        }
        .bg-danger {
            background-color: #f2dede !important;
        }

        .bg-info {
            background-color: #d9edf7 !important;
        }

        .well-checked{
            background-color: #c9a5e4 !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            var countEchantillon = 0;

            $('[data-toggle="tooltip"]').tooltip({
                html : true
            });

            $("#selectAll").on("change", function () {
                if ($(this).is(":checked")){
                    alert("Fonctionnalité désactivée pour le moment pour des raisons de performances.");
                    return false;
                    var nbItem = $(".itemEchantillon").length;
                    if (nbItem > 4){
                        alert("Attention ! L'ajout de tous ces éléments va prendre un temps conséquent.")
                    }
                    $(".itemEchantillon").each(function (key, item) {
                        var inputCheck  = $(item).children(".wellCustom").children(".checkbox");
                        var well        = $(item).children(".wellCustom");
                        if (!inputCheck.is(":checked")){
                            inputCheck.prop("checked", true);
                            $(well).addClass("well-checked");
                        }
                    })
                }else {
                    $(".itemEchantillon").each(function (key, item) {
                        var inputCheck  = $(item).children(".wellCustom").children(".checkbox");
                        var well        = $(item).children(".wellCustom");
                        if (inputCheck.is(":checked")){
                            inputCheck.prop("checked", false);
                            $(well).removeClass("well-checked");
                        }
                    })
                }
            });

            $(".itemEchantillon").on("click",function () {
                var input   = $(this).children(".wellCustom").children(".checkbox");
                var well    = $(this).children(".wellCustom");
                if ( !$(input).is(":checked") ){
                    if (countEchantillon > 2){
                        alert("Pour des raisons de performances seulement 3 échantillons par série.");
                        return false;
                    }
                    input.prop("checked", true);
                    $(well).addClass("well-checked");
                    countEchantillon ++;
                }else {
                    input.prop("checked", false);
                    $(well).removeClass("well-checked");
                    countEchantillon --;
                }
            })
        })
    </script>
{% endblock %}

